In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
%matplotlib inline

# ZIP

In [4]:
mydata = pd.read_csv('NY property data.csv')
submydata = pd.read_csv('submydata.csv')

FileNotFoundError: [Errno 2] File b'NY property data.csv' does not exist: b'NY property data.csv'

Collecting gmaps
  Downloading https://files.pythonhosted.org/packages/4c/aa/4e659d3ab6efe55c265d8159c845e9168e4c79045aef8e5460f9511cc3a7/gmaps-0.9.0.tar.gz (1.1MB)
Requirement already satisfied: ipython>=5.3.0 in c:\users\cindy\anaconda\lib\site-packages (from gmaps) (7.11.1)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\cindy\anaconda\lib\site-packages (from gmaps) (7.5.1)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\cindy\anaconda\lib\site-packages (from gmaps) (4.3.3)
Collecting geojson>=2.0.0
  Downloading https://files.pythonhosted.org/packages/e4/8d/9e28e9af95739e6d2d2f8d4bef0b3432da40b7c3588fbad4298c1be09e48/geojson-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: six in c:\users\cindy\anaconda\lib\site-packages (from gmaps) (1.13.0)
Requirement already satisfied: decorator in c:\users\cindy\anaconda\lib\site-packages (from ipython>=5.3.0->gmaps) (4.4.1)
Requirement already satisfied: pygments in c:\users\cindy\anaconda\lib\site-packages (from ipython>=5.3.0->gmaps) (2.5.2)
Requirement already satisfied: backcall in c:\users\cindy\anaconda\lib\site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: jedi>=0.10 in c:\users\cindy\anaconda\lib\site-packages (from ipython>=5.3.0->gmaps) (0.15.2)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\cindy\anaconda\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.3)
Requirement already satisfied: setuptools>=18.5 in c:\users\cindy\anaconda\lib\site-packages (from ipython>=5.3.0->gmaps) (44.0.0.post20200106)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\cindy\anaconda\lib\site-packages (from ipython>=5.3.0->gmaps) (2.0.10)
Requirement already satisfied: pickleshare in c:\users\cindy\anaconda\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\cindy\anaconda\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.1.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\cindy\anaconda\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\cindy\anaconda\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (4.4.0)
Requirement already satisfied: ipython-genutils in c:\users\cindy\anaconda\lib\site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: parso>=0.5.2 in c:\users\cindy\anaconda\lib\site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.5.2)
Requirement already satisfied: wcwidth in c:\users\cindy\anaconda\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.1.7)
Requirement already satisfied: jupyter-client in c:\users\cindy\anaconda\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (5.3.4)
Requirement already satisfied: tornado>=4.2 in c:\users\cindy\anaconda\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: notebook>=4.4.1 in c:\users\cindy\anaconda\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.2)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\cindy\anaconda\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: jupyter-core in c:\users\cindy\anaconda\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.1)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\cindy\anaconda\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (227)
Requirement already satisfied: pyzmq>=13 in c:\users\cindy\anaconda\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (18.1.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\cindy\anaconda\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: jinja2 in c:\users\cindy\anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.10.3)
Requirement already satisfied: Send2Trash in c:\users\cindy\anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: nbconvert in c:\users\cindy\anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (5.6.1)
Requirement already satisfied: prometheus-client in c:\users\cindy\anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: terminado>=0.8.1 in c:\users\cindy\anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.3)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\users\cindy\anaconda\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (1.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\cindy\anaconda\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.15.6)
Requirement already satisfied: attrs>=17.4.0 in c:\users\cindy\anaconda\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (19.3.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\cindy\anaconda\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: testpath in c:\users\cindy\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\cindy\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: bleach in c:\users\cindy\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.1.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\cindy\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\cindy\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: defusedxml in c:\users\cindy\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: zipp>=0.5 in c:\users\cindy\anaconda\lib\site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: webencodings in c:\users\cindy\anaconda\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: more-itertools in c:\users\cindy\anaconda\lib\site-packages (from zipp>=0.5->importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (8.0.2)
Building wheels for collected packages: gmaps
  Building wheel for gmaps (setup.py): started
  Building wheel for gmaps (setup.py): finished with status 'done'
  Created wheel for gmaps: filename=gmaps-0.9.0-py2.py3-none-any.whl size=2076101 sha256=59956918ca85fd64ef828afde6393d6ec9a4868b4e05151208f80842033015f9
  Stored in directory: C:\Users\cindy\AppData\Local\pip\Cache\wheels\33\eb\41\5302168c36fc8ce8f48143bb58fde1015d5bc0c62bc3ddbb38
Successfully built gmaps
Installing collected packages: geojson, gmaps
Successfully installed geojson-2.5.0 gmaps-0.9.0
Note: you may need to restart the kernel to use updated packages.

ERROR: Error checking for conflicts.
Traceback (most recent call last):
  File "C:\Users\cindy\Anaconda\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 3021, in _dep_map
    return self.__dep_map
  File "C:\Users\cindy\Anaconda\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 2815, in __getattr__
    raise AttributeError(attr)
AttributeError: _DistInfoDistribution__dep_map

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\cindy\Anaconda\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 3012, in _parsed_pkg_info
    return self._pkg_info
  File "C:\Users\cindy\Anaconda\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 2815, in __getattr__
    raise AttributeError(attr)
AttributeError: _pkg_info

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\cindy\Anaconda\lib\site-packages\pip\_internal\commands\install.py", line 568, in _warn_about_conflicts
    package_set, _dep_info = check_install_conflicts(to_install)
  File "C:\Users\cindy\Anaconda\lib\site-packages\pip\_internal\operations\check.py", line 114, in check_install_conflicts
    package_set, _ = create_package_set_from_installed()
  File "C:\Users\cindy\Anaconda\lib\site-packages\pip\_internal\operations\check.py", line 53, in create_package_set_from_installed
    package_set[name] = PackageDetails(dist.version, dist.requires())
  File "C:\Users\cindy\Anaconda\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 2736, in requires
    dm = self._dep_map
  File "C:\Users\cindy\Anaconda\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 3023, in _dep_map
    self.__dep_map = self._compute_dependencies()
  File "C:\Users\cindy\Anaconda\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 3032, in _compute_dependencies
    for req in self._parsed_pkg_info.get_all('Requires-Dist') or []:
  File "C:\Users\cindy\Anaconda\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 3014, in _parsed_pkg_info
    metadata = self.get_metadata(self.PKG_INFO)
  File "C:\Users\cindy\Anaconda\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 1420, in get_metadata
    value = self._get(path)
  File "C:\Users\cindy\Anaconda\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 1616, in _get
    with open(path, 'rb') as stream:
FileNotFoundError: [Errno 2] No such file or directory: 'c:\\users\\cindy\\anaconda\\lib\\site-packages\\path.py-12.0.1.dist-info\\METADATA'

In [2]:
## since we have street address in the dataset, we decided to first fill in the missing zipcode by using google map API
## From this step, we could get accurate zipcode for properities
## then for any remaining missing zipcode, we would groupby B and BLOCK to get most common zipcode in that group

gmaps = googlemaps.Client(key = 'AIzaSyDWX4Rdh2GvytawGaXNLs53YHYLMgGnz0w')

In [4]:
len(mydata.loc[mydata.ZIP.isnull(),'STADDR'])

29890

In [ ]:
submydata = mydata.loc[mydata.ZIP.isnull(),'STADDR'].dropna().reset_index()
zipcode = []
for i in submydata['STADDR']:
    address = gmaps.geocode(i)
    zipc = re.findall(r'\b1\d{4}\b', str(address))
    if len(zipc)>=1:
        zipc = zipc[0]
    else:
        zipc
    zipcode.append(zipc)
submydata['zip'] = zipcode

In [5]:
## the ZIP in the dataset is float and the zipcode that generate from google map api is str
## so here we convert both of them to int
mydata['ZIP'] = mydata['ZIP'].fillna(0)
mydata['ZIP'] = mydata['ZIP'].astype(int)
submydata.loc[submydata['zip']=='[]', 'zip'] = np.nan
submydata['zip'] = submydata['zip'].fillna(0)
submydata['zip'] = submydata['zip'].astype(int)

In [6]:
## left join submydata to mydata, drop duplicate columns
mydata_new = mydata.merge(submydata, left_on = 'RECORD', 
                          right_on = 'index', how = 'left').drop(columns = ['index','STADDR_y'])

In [7]:
## when the dataset has been mergerd, the index of zip in submydata is one row behind mydata 
## so here we inserted one value at the begining of the zip column in mydata_new to match the index
x = mydata_new.zip
y = [1]
y[1:] = x
y = pd.Series(y)
mydata_new.zip=y
mydata_new.loc[mydata_new['ZIP']==0, 'ZIP'] = mydata_new['zip']
mydata_new = mydata_new.drop(columns = ['zip'])
mydata_new.columns = ['RECORD', 'BBLE', 'B', 'BLOCK', 'LOT', 'EASEMENT', 'OWNER', 'BLDGCL',
       'TAXCLASS', 'LTFRONT', 'LTDEPTH', 'EXT', 'STORIES', 'FULLVAL', 'AVLAND',
       'AVTOT', 'EXLAND', 'EXTOT', 'EXCD1', 'STADDR', 'ZIP', 'EXMPTCL',
       'BLDFRONT', 'BLDDEPTH', 'AVLAND2', 'AVTOT2', 'EXLAND2', 'EXTOT2',
       'EXCD2', 'PERIOD', 'YEAR', 'VALTYPE']
mydata_new['ZIP'] = mydata_new['ZIP'].fillna(0)

## replace 0 in mydata by zip from submydata

In [8]:
## for the remaining missing zip code that cannot be filled in by google map API
## we first group by B and BLOCK

block_zip = mydata_new.groupby(['B','BLOCK'])['ZIP'].agg(pd.Series.mode).to_frame()

## Under certain B and BLOCK, there are some modes have same value, here we decided to choose the first mode appears.
## even some mode may less than 5, we still take that value, since it would be better than group by B only.

for i in range(len(block_zip)):
    try:
        len(list(block_zip.ZIP)[i])
        if len(list(block_zip.ZIP)[i])>1:
            block_zip.ZIP[i] = block_zip.ZIP[i][0]
    except:
        block_zip.ZIP[i] = block_zip.ZIP[i]

zipp = mydata_new.loc[mydata_new.ZIP == 0, ['RECORD','B','BLOCK','ZIP']]

## merge block_zip and zipp together to fill in the missing zip code by the mode of the group
zip_est = zipp.merge(block_zip,left_on = ['B','BLOCK'], right_on = ['B','BLOCK'], how = 'left').drop(columns = 'ZIP_x')
data_zip_BBLK = mydata_new.merge(zip_est,left_on = 'RECORD', right_on = 'RECORD', how = 'left')
data_zip_BBLK.loc[data_zip_BBLK['ZIP']==0, 'ZIP'] = data_zip_BBLK['ZIP_y']
data_zip_BBLK = data_zip_BBLK.drop(columns = ['B_y', 'BLOCK_y','ZIP_y'])
data_zip_BBLK.columns = ['RECORD', 'BBLE', 'B', 'BLOCK', 'LOT', 'EASEMENT', 'OWNER',
       'BLDGCL', 'TAXCLASS', 'LTFRONT', 'LTDEPTH', 'EXT', 'STORIES', 'FULLVAL',
       'AVLAND', 'AVTOT', 'EXLAND', 'EXTOT', 'EXCD1', 'STADDR', 'ZIP',
       'EXMPTCL', 'BLDFRONT', 'BLDDEPTH', 'AVLAND2', 'AVTOT2', 'EXLAND2',
       'EXTOT2', 'EXCD2', 'PERIOD', 'YEAR', 'VALTYPE']

In [9]:
len(data_zip_BBLK[data_zip_BBLK['ZIP'] == 0])

2839

In [10]:
## when we group ZIP by B and BLOCK, there are some group do not have any other property, so we then group by the B
## and find most common ZIP in each B to fill in the reamining 2839 missing field

B_zip = mydata_new.groupby(['B'])['ZIP'].apply(lambda x : x.value_counts().index[0]).to_frame()

zip_est2 = zip_est.merge(B_zip, left_on = 'B', right_on = 'B', how = 'left')
zip_est2.loc[zip_est2['ZIP_y']==0, 'ZIP_y'] = zip_est2['ZIP']
zip_est2 = zip_est2.drop(columns = ['ZIP'])
zip_est2.columns = ['RECORD', 'B', 'BLOCK', 'ZIP']

data_fullzip = data_zip_BBLK.merge(zip_est2,left_on = 'RECORD', right_on = 'RECORD', how = 'left')
data_fullzip.loc[data_fullzip['ZIP_x']==0, 'ZIP_x'] = data_fullzip['ZIP_y']
data_fullzip = data_fullzip.drop(columns = ['B_y', 'BLOCK_y','ZIP_y'])

data_fullzip.columns = ['RECORD', 'BBLE', 'B', 'BLOCK', 'LOT', 'EASEMENT', 'OWNER',
       'BLDGCL', 'TAXCLASS', 'LTFRONT', 'LTDEPTH', 'EXT', 'STORIES', 'FULLVAL',
       'AVLAND', 'AVTOT', 'EXLAND', 'EXTOT', 'EXCD1', 'STADDR', 'ZIP',
       'EXMPTCL', 'BLDFRONT', 'BLDDEPTH', 'AVLAND2', 'AVTOT2', 'EXLAND2',
       'EXTOT2', 'EXCD2', 'PERIOD', 'YEAR', 'VALTYPE']

In [11]:
len(data_fullzip[data_fullzip['ZIP'] == 0])

0

In [12]:
data_fullzip.ZIP.isnull().sum()

0

In [13]:
data_fullzip.to_csv('data.csv', index = False)

In [2]:
df = pd.read_csv('data.csv')

# Stories

In [5]:
g = df.groupby(['TAXCLASS'])['STORIES']

def impute_mode(series):
    return series.fillna(series.mode()[0])
df['STORIES'] = g.transform(impute_mode)

In [6]:
df['STORIES'].describe()

count    1.070994e+06
mean     4.860021e+00
std      8.172855e+00
min      1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      3.000000e+00
max      1.190000e+02
Name: STORIES, dtype: float64

# AVLAND

In [7]:
df['AVLAND'].replace(0,np.nan,inplace = True)

In [8]:
tempLAND = df[df.AVLAND== 0].groupby(['TAXCLASS','ZIP']).filter(lambda x: len(x.notnull())<=5)
#assign 1 to the new column test
tempLAND['test'] = 1
LAND = tempLAND[['BBLE','test']]

In [9]:
merge1 = pd.merge(df,LAND,how='left',on = 'BBLE')

In [10]:
merge1['test'] = merge1.test.fillna(0)

In [11]:
merge1['AVLAND'].replace(0,np.nan,inplace = True)

In [12]:
tempLAND1 = pd.DataFrame(merge1.groupby(['TAXCLASS','ZIP'])['AVLAND'].median()).reset_index()
tempLAND1.columns = ['TAXCLASS','ZIP','AVLAND_0']
tempLAND1

     TAXCLASS    ZIP  AVLAND_0
0           1  10001   46973.0
1           1  10002   23996.0
2           1  10003   66547.0
3           1  10007   59220.0
4           1  10009   16572.5
...       ...    ...       ...
2251        4  19801   34110.0
2252        4  19802   24345.0
2253        4  19952     108.0
2254        4  19989  171288.0
2255        4  33803   34852.5

[2256 rows x 3 columns]

In [13]:
merge2 = pd.merge(merge1,tempLAND1,how='left',on = ['TAXCLASS','ZIP'])
merge2['AVLAND_0'].count()

1066897

In [14]:
merge2.rename(columns = {'AVLAND_x':'AVLAND'}, inplace = True)

merge2

,RECORD,BBLE,B,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS,LTFRONT,...,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE,test,AVLAND_0
0,1,1000010101,1,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,500,...,3775500.0,8613000.0,3775500.0,8613000.0,NaN,FINAL,2010/11,AC-TR,0.0,1128825.0
1,2,1000010201,1,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,27,...,11111400.0,80690400.0,11111400.0,80690400.0,NaN,FINAL,2010/11,AC-TR,0.0,1128825.0
2,3,1000020001,1,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,709,...,32321790.0,40179510.0,32321790.0,40179510.0,NaN,FINAL,2010/11,AC-TR,0.0,1128825.0
3,4,1000020023,1,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,793,...,13644000.0,15750000.0,13644000.0,15750000.0,NaN,FINAL,2010/11,AC-TR,0.0,1128825.0
4,5,1000030001,1,3,1,NaN,PARKS AND RECREATION,Q1,4,323,...,106348680.0,107758350.0,106348680.0,107758350.0,NaN,FINAL,2010/11,AC-TR,0.0,1128825.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070989,1070990,5080500083,5,8050,83,NaN,"TOBIN, GALE",A1,1,60,...,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,0.0,15617.0
1070990,1070991,5080500086,5,8050,86,NaN,SHERRI MILINAZZO,A1,1,62,...,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,0.0,15617.0
1070991,1070992,5080500089,5,8050,89,NaN,JOHN GERVASI,A1,1,53,...,NaN,NaN,NaN,NaN,1017.0,FINAL,2010/11,AC-TR,0.0,15617.0
1070992,1070993,5080500092,5,8050,92,NaN,RITA M MOOG,A1,1,52,...,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,0.0,15617.0
1070993,1070994,5080500094,5,8050,94,NaN,EDWARD DONOHUE,A1,1,50,...,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,0.0,15617.0

In [15]:
tempLAND2 = pd.DataFrame(df.groupby(['TAXCLASS'])['AVLAND'].median()).reset_index()
tempLAND2.columns = ['TAXCLASS','AVLAND_1']
tempLAND2

   TAXCLASS  AVLAND_1
0         1   13618.0
1        1A    1699.0
2        1B    2481.0
3        1C    3194.5
4        1D  206273.0
5         2   13814.0
6        2A   21874.0
7        2B    4888.0
8        2C    5125.0
9         3   10597.5
10        4   55800.0

In [16]:
merge3= pd.merge(merge2,tempLAND2 ,how = 'left',on = 'TAXCLASS')
merge3['AVLAND_0'].count()

1066897

In [17]:
finalland1 = merge3[(merge3.test == 0)& (merge3['AVLAND_0'].notnull()) & (merge3.AVLAND.isnull())].loc[:,['AVLAND','AVLAND_0','BBLE']]
finalland1 = finalland1.drop('AVLAND',axis = 1)
finalland1 = finalland1.rename(columns = {'AVLAND_0':'AVLAND_imputed'}).reset_index().drop('index',axis = 1)
finalland1

      AVLAND_imputed         BBLE
0             9749.0   1000047501
1             9749.0   1000057501
2             9749.0   1000077501
3             9749.0   1000077502
4             9749.0   1000087501
...              ...          ...
8907         71000.0  5079910065E
8908         71000.0  5079910065F
8909        630000.0   5080140020
8910        630000.0   5080140024
8911        630000.0   5080140042

[8912 rows x 2 columns]

In [18]:
finalland2 = merge3[(merge3.test == 1) | (merge3['AVLAND_0'].isnull())].loc[:,['AVLAND','AVLAND_1','BBLE']]
finalland2 = finalland2.drop('AVLAND',axis = 1)
finalland2 = finalland2.rename(columns = {'AVLAND_1':'AVLAND_imputed'}).reset_index().drop('index',axis = 1)
finalland2

      AVLAND_imputed         BBLE
0            10597.5   1000080044
1            10597.5  1000130027E
2            10597.5  1000580001E
3            10597.5  1000870001E
4            10597.5  1000870001F
...              ...          ...
4092         10597.5   5080200086
4093         10597.5   5080200124
4094         10597.5   5080200129
4095         10597.5   5080200131
4096         10597.5   5080210060

[4097 rows x 2 columns]

In [19]:
result = pd.concat([finalland1,finalland2])

In [20]:
final = pd.merge(merge1,result, how = 'left', on = 'BBLE')

In [21]:
final.AVLAND.fillna(final.AVLAND_imputed, inplace = True)

In [22]:
final.AVLAND.count()

1070994

In [23]:
final.loc[(final['AVLAND'] == 5125.0),['test']]

        test
45522    0.0
112663   0.0
137871   0.0
241903   0.0
308343   0.0
352286   0.0
361253   0.0
361254   0.0
366617   0.0
368544   0.0
477436   0.0
477437   0.0
477440   0.0
477441   0.0
613181   0.0
613182   0.0
613183   0.0
613184   0.0
613185   0.0
613186   0.0
637559   0.0
711048   0.0
829935   0.0
965733   0.0

In [24]:
final=final.drop('AVLAND_imputed',axis=1)
final=final.drop('test',axis=1)

In [25]:
final.head()

,RECORD,BBLE,B,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS,LTFRONT,...,BLDFRONT,BLDDEPTH,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE
0,1,1000010101,1,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,500,...,0,0,3775500.0,8613000.0,3775500.0,8613000.0,NaN,FINAL,2010/11,AC-TR
1,2,1000010201,1,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,27,...,0,0,11111400.0,80690400.0,11111400.0,80690400.0,NaN,FINAL,2010/11,AC-TR
2,3,1000020001,1,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,709,...,709,564,32321790.0,40179510.0,32321790.0,40179510.0,NaN,FINAL,2010/11,AC-TR
3,4,1000020023,1,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,793,...,85,551,13644000.0,15750000.0,13644000.0,15750000.0,NaN,FINAL,2010/11,AC-TR
4,5,1000030001,1,3,1,NaN,PARKS AND RECREATION,Q1,4,323,...,89,57,106348680.0,107758350.0,106348680.0,107758350.0,NaN,FINAL,2010/11,AC-TR

# AVTOT

In [26]:
df['AVTOT'].replace(0,np.nan,inplace = True)

In [27]:
tempTOT = df[df.AVTOT== 0].groupby(['TAXCLASS','ZIP']).filter(lambda x: len(x.notnull())<=5)
#assign 1 to the new column test
tempTOT['test'] = 1
TOT = tempTOT[['BBLE','test']]

In [28]:
#merge temp to the mydata
merge4 = pd.merge(df,TOT,how='left',on = 'BBLE')

In [29]:
merge4['test'] = merge4.test.fillna(0)

In [30]:
merge4['AVTOT'].replace(0,np.nan,inplace = True)

In [31]:
tempTOT1 = pd.DataFrame(merge4.groupby(['TAXCLASS','ZIP'])['AVTOT'].median()).reset_index()
tempTOT1.columns = ['TAXCLASS','ZIP','AVTOT_0']
tempTOT1

     TAXCLASS    ZIP   AVTOT_0
0           1  10001   84740.0
1           1  10002   39991.0
2           1  10003  110769.0
3           1  10007  192420.0
4           1  10009   28628.5
...       ...    ...       ...
2251        4  19801   34110.0
2252        4  19802   24345.0
2253        4  19952     108.0
2254        4  19989  171288.0
2255        4  33803   34852.5

[2256 rows x 3 columns]

In [32]:
merge5 = pd.merge(merge4,tempTOT1,how='left',on = ['TAXCLASS','ZIP'])
merge5['AVTOT_0'].count()

1066897

In [33]:
merge5.rename(columns = {'AVTOT_x':'AVTOT'}, inplace = True)
merge5

,RECORD,BBLE,B,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS,LTFRONT,...,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE,test,AVTOT_0
0,1,1000010101,1,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,500,...,3775500.0,8613000.0,3775500.0,8613000.0,NaN,FINAL,2010/11,AC-TR,0.0,3524738.0
1,2,1000010201,1,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,27,...,11111400.0,80690400.0,11111400.0,80690400.0,NaN,FINAL,2010/11,AC-TR,0.0,3524738.0
2,3,1000020001,1,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,709,...,32321790.0,40179510.0,32321790.0,40179510.0,NaN,FINAL,2010/11,AC-TR,0.0,3524738.0
3,4,1000020023,1,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,793,...,13644000.0,15750000.0,13644000.0,15750000.0,NaN,FINAL,2010/11,AC-TR,0.0,3524738.0
4,5,1000030001,1,3,1,NaN,PARKS AND RECREATION,Q1,4,323,...,106348680.0,107758350.0,106348680.0,107758350.0,NaN,FINAL,2010/11,AC-TR,0.0,3524738.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070989,1070990,5080500083,5,8050,83,NaN,"TOBIN, GALE",A1,1,60,...,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,0.0,25984.0
1070990,1070991,5080500086,5,8050,86,NaN,SHERRI MILINAZZO,A1,1,62,...,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,0.0,25984.0
1070991,1070992,5080500089,5,8050,89,NaN,JOHN GERVASI,A1,1,53,...,NaN,NaN,NaN,NaN,1017.0,FINAL,2010/11,AC-TR,0.0,25984.0
1070992,1070993,5080500092,5,8050,92,NaN,RITA M MOOG,A1,1,52,...,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,0.0,25984.0
1070993,1070994,5080500094,5,8050,94,NaN,EDWARD DONOHUE,A1,1,50,...,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,0.0,25984.0

In [35]:
tempTOT2 = pd.DataFrame(df.groupby(['TAXCLASS'])['AVTOT'].median()).reset_index()
tempTOT2.columns = ['TAXCLASS','AVTOT_1']
tempTOT2

   TAXCLASS   AVTOT_1
0         1   22590.0
1        1A   12828.0
2        1B    2481.0
3        1C   16795.0
4        1D  382415.0
5         2   69282.0
6        2A   57548.0
7        2B  109512.0
8        2C   57335.0
9         3   12217.5
10        4  149346.0

In [36]:
merge6= pd.merge(merge5,tempTOT2 ,how = 'left',on = 'TAXCLASS')
merge6['AVTOT_0'].count()

1066897

In [37]:
finaltot1 = merge6[(merge6.test == 0)& (merge6['AVTOT_0'].notnull()) & (merge6.AVTOT.isnull())].loc[:,['AVTOT','AVTOT_0','BBLE']]
finaltot1  = finaltot1.drop('AVTOT',axis = 1)
finaltot1  = finaltot1.rename(columns = {'AVTOT_0':'AVTOT_imputed'}).reset_index().drop('index',axis = 1)
finaltot1

      AVTOT_imputed         BBLE
0          108046.0   1000047501
1          108046.0   1000057501
2          108046.0   1000077501
3          108046.0   1000077502
4          108046.0   1000087501
...             ...          ...
8905       112644.0  5079910065E
8906       112644.0  5079910065F
8907       630000.0   5080140020
8908       630000.0   5080140024
8909       630000.0   5080140042

[8910 rows x 2 columns]

In [38]:
finaltot2 = merge6[(merge6.test == 1) | (merge6['AVTOT_0'].isnull())].loc[:,['AVTOT','AVTOT_1','BBLE']]
finaltot2 = finaltot2.drop('AVTOT',axis = 1)
finaltot2 = finaltot2.rename(columns = {'AVTOT_1':'AVTOT_imputed'}).reset_index().drop('index',axis = 1)
finaltot2

      AVTOT_imputed         BBLE
0           12217.5   1000080044
1           12217.5  1000130027E
2           12217.5  1000580001E
3           12217.5  1000870001E
4           12217.5  1000870001F
...             ...          ...
4092        12217.5   5080200086
4093        12217.5   5080200124
4094        12217.5   5080200129
4095        12217.5   5080200131
4096        12217.5   5080210060

[4097 rows x 2 columns]

In [39]:
result1 = pd.concat([finaltot1,finaltot2])

In [40]:
final1 = pd.merge(merge4,result1, how = 'left', on = 'BBLE')

In [41]:
final1.AVTOT.fillna(final1.AVTOT_imputed, inplace = True)

In [42]:
final1.AVTOT.count()

1070994

In [43]:
final1.loc[(final1['AVTOT'] == 22590),['test']]

         test
18410     0.0
138867    0.0
141874    0.0
141875    0.0
141922    0.0
...       ...
1058542   0.0
1062742   0.0
1063936   0.0
1068644   0.0
1070850   0.0

[1358 rows x 1 columns]

In [44]:
final1.shape

(1070994, 34)

In [45]:
final1=final1.drop('AVTOT_imputed',axis=1)
final1=final1.drop('test',axis=1)

In [46]:
final1.head()

,RECORD,BBLE,B,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS,LTFRONT,...,BLDFRONT,BLDDEPTH,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE
0,1,1000010101,1,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,500,...,0,0,3775500.0,8613000.0,3775500.0,8613000.0,NaN,FINAL,2010/11,AC-TR
1,2,1000010201,1,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,27,...,0,0,11111400.0,80690400.0,11111400.0,80690400.0,NaN,FINAL,2010/11,AC-TR
2,3,1000020001,1,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,709,...,709,564,32321790.0,40179510.0,32321790.0,40179510.0,NaN,FINAL,2010/11,AC-TR
3,4,1000020023,1,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,793,...,85,551,13644000.0,15750000.0,13644000.0,15750000.0,NaN,FINAL,2010/11,AC-TR
4,5,1000030001,1,3,1,NaN,PARKS AND RECREATION,Q1,4,323,...,89,57,106348680.0,107758350.0,106348680.0,107758350.0,NaN,FINAL,2010/11,AC-TR

## FULLVAL

In [47]:
df['FULLVAL'].describe()

count    1.070994e+06
mean     8.742645e+05
std      1.158243e+07
min      0.000000e+00
25%      3.040000e+05
50%      4.470000e+05
75%      6.190000e+05
max      6.150000e+09
Name: FULLVAL, dtype: float64

In [48]:
sum(df['FULLVAL'].isna())

0

In [49]:
df['FULLVAL'].replace(0,np.nan,inplace = True)

In [50]:
tempVAL=df[df.FULLVAL==0].groupby(['TAXCLASS','B']).filter(lambda x: len(x.notnull())<=5)
tempVAL['test'] = 1
VAL=tempVAL[['BBLE','test']]

In [51]:
merge7 = pd.merge(df,VAL,how='left',on = 'BBLE')

In [52]:
merge7['test'] = merge7.test.fillna(0)

In [53]:
merge7['FULLVAL'].replace(0,np.nan,inplace = True)

In [54]:
tempVAL1 = pd.DataFrame(merge7.groupby(['TAXCLASS','B'])['FULLVAL'].median()).reset_index()
tempVAL1.columns = ['TAXCLASS','B','FULLVAL_new']
tempVAL1.head()

  TAXCLASS  B  FULLVAL_new
0        1  1    3580000.0
1        1  2     417000.0
2        1  3     558000.0
3        1  4     493000.0
4        1  5     406000.0

In [55]:
merge8 = pd.merge(merge7,tempVAL1,how='left',on = ['TAXCLASS','B'])

In [56]:
tempVAL2 = pd.DataFrame(df.groupby(['TAXCLASS'])['FULLVAL'].median()).reset_index()
tempVAL2.columns = ['TAXCLASS','FULLVAL_new_1']
tempVAL2.head()

  TAXCLASS  FULLVAL_new_1
0        1       487000.0
1       1A       302610.0
2       1B       168000.0
3       1C       343443.0
4       1D      9455000.0

In [57]:
merge9= pd.merge(merge8,tempVAL2 ,how = 'left',on = 'TAXCLASS')

In [58]:
finalVAL1 = merge9[(merge9.test == 0)& (merge9['FULLVAL_new'].notnull()) & (merge9.FULLVAL.isnull())].loc[:,['FULLVAL','FULLVAL_new','BBLE']]
finalVAL1 = finalVAL1.drop('FULLVAL',axis = 1)
finalVAL1 = finalVAL1.rename(columns = {'FULLVAL_new':'FULLVAL_imputed'}).reset_index().drop('index',axis = 1)
finalVAL1.head()

   FULLVAL_imputed        BBLE
0         207450.0  1000047501
1         207450.0  1000057501
2         207450.0  1000077501
3         207450.0  1000077502
4         710000.0  1000080044

In [59]:
finalVAL2 = merge9[(merge9.test == 1) | (merge9['FULLVAL_new'].isnull())].loc[:,['FULLVAL','FULLVAL_new_1','BBLE']]
finalVAL2 = finalVAL2.drop('FULLVAL',axis = 1)
finalVAL2 = finalVAL2.rename(columns = {'FULLVAL_new_1':'FULLVAL_imputed'}).reset_index().drop('index',axis = 1)
finalVAL2.head()

   FULLVAL_imputed         BBLE
0         168000.0   1018259034
1         168000.0   1018259036
2          27150.0   2022600062
3          27150.0  2022600062F
4          27150.0  2022600062G

In [60]:
combine = pd.concat([finalVAL1,finalVAL2])

In [61]:
filledin = pd.merge(merge7,combine, how = 'left', on = 'BBLE')

In [62]:
filledin['FULLVAL'].fillna(filledin['FULLVAL_imputed'], inplace = True)

In [63]:
filledin[filledin['FULLVAL']==0]

#no value is equal to 0 now

Empty DataFrame
Columns: [RECORD, BBLE, B, BLOCK, LOT, EASEMENT, OWNER, BLDGCL, TAXCLASS, LTFRONT, LTDEPTH, EXT, STORIES, FULLVAL, AVLAND, AVTOT, EXLAND, EXTOT, EXCD1, STADDR, ZIP, EXMPTCL, BLDFRONT, BLDDEPTH, AVLAND2, AVTOT2, EXLAND2, EXTOT2, EXCD2, PERIOD, YEAR, VALTYPE, test, FULLVAL_imputed]
Index: []

[0 rows x 34 columns]

In [64]:
filledin.head()

,RECORD,BBLE,B,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS,LTFRONT,...,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE,test,FULLVAL_imputed
0,1,1000010101,1,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,500,...,3775500.0,8613000.0,3775500.0,8613000.0,NaN,FINAL,2010/11,AC-TR,0.0,NaN
1,2,1000010201,1,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,27,...,11111400.0,80690400.0,11111400.0,80690400.0,NaN,FINAL,2010/11,AC-TR,0.0,NaN
2,3,1000020001,1,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,709,...,32321790.0,40179510.0,32321790.0,40179510.0,NaN,FINAL,2010/11,AC-TR,0.0,NaN
3,4,1000020023,1,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,793,...,13644000.0,15750000.0,13644000.0,15750000.0,NaN,FINAL,2010/11,AC-TR,0.0,NaN
4,5,1000030001,1,3,1,NaN,PARKS AND RECREATION,Q1,4,323,...,106348680.0,107758350.0,106348680.0,107758350.0,NaN,FINAL,2010/11,AC-TR,0.0,NaN

In [65]:
filledin=filledin.drop('FULLVAL_imputed',axis=1)

In [66]:
filledin=filledin.drop('test',axis=1)

In [67]:
filledin

,RECORD,BBLE,B,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS,LTFRONT,...,BLDFRONT,BLDDEPTH,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE
0,1,1000010101,1,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,500,...,0,0,3775500.0,8613000.0,3775500.0,8613000.0,NaN,FINAL,2010/11,AC-TR
1,2,1000010201,1,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,27,...,0,0,11111400.0,80690400.0,11111400.0,80690400.0,NaN,FINAL,2010/11,AC-TR
2,3,1000020001,1,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,709,...,709,564,32321790.0,40179510.0,32321790.0,40179510.0,NaN,FINAL,2010/11,AC-TR
3,4,1000020023,1,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,793,...,85,551,13644000.0,15750000.0,13644000.0,15750000.0,NaN,FINAL,2010/11,AC-TR
4,5,1000030001,1,3,1,NaN,PARKS AND RECREATION,Q1,4,323,...,89,57,106348680.0,107758350.0,106348680.0,107758350.0,NaN,FINAL,2010/11,AC-TR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070989,1070990,5080500083,5,8050,83,NaN,"TOBIN, GALE",A1,1,60,...,30,26,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR
1070990,1070991,5080500086,5,8050,86,NaN,SHERRI MILINAZZO,A1,1,62,...,32,26,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR
1070991,1070992,5080500089,5,8050,89,NaN,JOHN GERVASI,A1,1,53,...,24,32,NaN,NaN,NaN,NaN,1017.0,FINAL,2010/11,AC-TR
1070992,1070993,5080500092,5,8050,92,NaN,RITA M MOOG,A1,1,52,...,32,21,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR
1070993,1070994,5080500094,5,8050,94,NaN,EDWARD DONOHUE,A1,1,50,...,30,24,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR

## LTFRONT

In [4]:
mydata=df.copy()

In [83]:
### Seperate into 2 dataframe for 'LTFRONT'
data_LTFRONT_0=mydata[mydata['LTFRONT']==0]
data_LTFRONT_0_col=data_LTFRONT_0.loc[:,['RECORD','B','ZIP','TAXCLASS','LTFRONT']]

data_LTFRONT_value=mydata[mydata['LTFRONT'] != 0]
data_LTFRONT_value_col=data_LTFRONT_value.loc[:,['RECORD','B','ZIP','TAXCLASS','LTFRONT']]
data_LTFRONT_0_col.shape

(169108, 5)

In [84]:
data_LTFRONT_value_col.shape

(901886, 5)

In [85]:
### df_value -- 'LTFRONT' Aggregate by 'ZIP' and TAXCLASS 
data_LTFRONT_3=data_LTFRONT_value.groupby(['ZIP','TAXCLASS'])['LTFRONT'].agg(Min=('min'),Max=('max'),
                                    Mean=('mean'),    
                                    Median=('median'),
                                    Difference= (lambda x:x.mean()-x.median()),
                                       Count=('count')).reset_index()
print(f'Percentage of count less than 5:')
print((data_LTFRONT_3[data_LTFRONT_3['Count']<5].count())/len(data_LTFRONT_3))
#print(data_LTFRONT_3)

Percentage of count less than 5:
ZIP           0.309458
TAXCLASS      0.309458
Min           0.309458
Max           0.309458
Mean          0.309458
Median        0.309458
Difference    0.309458
Count         0.309458
dtype: float64

In [86]:
### 'LTFRONT' Aggregate by B and TAXCLASS 
data_LTFRONT_2=data_LTFRONT_value.groupby(['B','TAXCLASS'])['LTFRONT'].agg(Min=('min'),Max=('max'),
                                    Mean=('mean'),    
                                    Median=('median'),
                                    Difference= (lambda x:x.mean()-x.median()),
                                       Count=('count')).reset_index()
print(f'Percentage of count less than 5:')
print((data_LTFRONT_2[data_LTFRONT_2['Count']<5].count())/len(data_LTFRONT_2))

Percentage of count less than 5:
B             0.078431
TAXCLASS      0.078431
Min           0.078431
Max           0.078431
Mean          0.078431
Median        0.078431
Difference    0.078431
Count         0.078431
dtype: float64

In [87]:
data_LTFRONT_2.head(5)

   B TAXCLASS  Min   Max        Mean  Median  Difference  Count
0  1        1    6   168   20.005400    19.0    1.005400   5926
1  1       1A   25   360  192.500000   192.5    0.000000      2
2  1       1C   15    29   19.888889    20.0   -0.111111     36
3  1        2    2  9742  107.223455    87.0   20.223455  33980
4  1       2A    1    94   20.474864    20.0    0.474864   3302

In [88]:
### Get a dataframe that count great than 5 ('ZIP','TAXCLASS')
data_LTFRONT_3_gt5=data_LTFRONT_3[data_LTFRONT_3['Count'] > 5]
data_LTFRONT_3_gt5_col=data_LTFRONT_3_gt5.loc[:,['ZIP','TAXCLASS','Median']]
#data_LTFRONT_3_gt5_col.columns=['ZIP','TAXCLASS','LTFRONT']
#print(data_LTFRONT_3_gt5_col)
#print(data_LTFRONT_3)
data_LTFRONT_3_gt5_col.head(5)

     ZIP TAXCLASS  Median
0  10001        1    19.0
1  10001       1B    12.0
2  10001        2    73.0
3  10001       2A    20.0
4  10001       2B    24.0

In [89]:
### Merge data_LTFRONT_3_gt5_col and data_LTFRONT_0_col
merge_LTFRONT=pd.merge(data_LTFRONT_0_col,data_LTFRONT_3_gt5_col,how='left',on=['ZIP','TAXCLASS'])
merge_LTFRONT.head(5)

   RECORD  B    ZIP TAXCLASS  LTFRONT  Median
0       9  1  10004        4        0   203.5
1      10  1  10004        4        0   203.5
2      11  1  10004        4        0   203.5
3      12  1  10004        4        0   203.5
4      13  1  10004        4        0   203.5

In [90]:
### drop LTFRONT and Change name
merge_LTFRONT_drop=merge_LTFRONT.drop(columns=['LTFRONT'],axis=1)
merge_LTFRONT_drop.columns=['RECORD','B','ZIP','TAXCLASS','LTFRONT']
merge_LTFRONT_drop.shape
#merge_LTFRONT_drop.head(5)

(169108, 5)

In [91]:
### get the df with values
merge_LTFRONT_value=merge_LTFRONT_drop[~merge_LTFRONT_drop['LTFRONT'].isnull()]
merge_LTFRONT_value.head(5)

   RECORD  B    ZIP TAXCLASS  LTFRONT
0       9  1  10004        4    203.5
1      10  1  10004        4    203.5
2      11  1  10004        4    203.5
3      12  1  10004        4    203.5
4      13  1  10004        4    203.5

In [92]:
### get the dataframe that needs second fillin
merge_LTFRONT_nan=merge_LTFRONT_drop[merge_LTFRONT_drop['LTFRONT'].isnull()]
merge_LTFRONT_nan_col=merge_LTFRONT_nan.loc[:,['RECORD','B','TAXCLASS','LTFRONT']]
#merge_LTFRONT_nan_col
merge_LTFRONT_nan.shape
#merge_LTFRONT_nan.head(5)

(4759, 5)

In [93]:
merge_LTFRONT_nan_col.head(5)

     RECORD  B TAXCLASS  LTFRONT
63      119  1       2C      NaN
64      120  1       2C      NaN
65      127  1        3      NaN
593     686  1        4      NaN
594     687  1        4      NaN

In [94]:
### Get a dataframe that count greater than 5 ('B','TAXCLASS')
data_LTFRONT_2_gt5=data_LTFRONT_2[data_LTFRONT_2['Count'] > 5]
data_LTFRONT_2_gt5_col=data_LTFRONT_2_gt5.loc[:,['B','TAXCLASS','Median']]
data_LTFRONT_2_gt5_col.head(5)

   B TAXCLASS  Median
0  1        1    19.0
2  1       1C    20.0
3  1        2    87.0
4  1       2A    20.0
5  1       2B    23.0

In [95]:
### Merge data_LTFRONT_2_gt5_col and merge_LTFRONT_nan_col
merge_LTFRONT_2=pd.merge(merge_LTFRONT_nan_col,data_LTFRONT_2_gt5_col,how='left',on=['B','TAXCLASS'])
merge_LTFRONT_2.drop(columns=['LTFRONT'],axis=1,inplace=True)
merge_LTFRONT_2.head(5)
#merge_LTFRONT_nan_col.head(5)

   RECORD  B TAXCLASS  Median
0     119  1       2C    25.0
1     120  1       2C    25.0
2     127  1        3   124.0
3     686  1        4    50.0
4     687  1        4    50.0

In [96]:
### 3rd time fill in NaN
merge_LTFRONT_2_nan=merge_LTFRONT_2[merge_LTFRONT_2['Median'].isnull()]
merge_LTFRONT_2_nan_col=merge_LTFRONT_2_nan.loc[:,['RECORD','TAXCLASS','Median']]

In [97]:
#merge_LTFRONT_2_nan_col

In [98]:
merge_LTFRONT_2_nan.head(5)

    RECORD  B TAXCLASS  Median
25   15621  1       1A     NaN
26   15622  1       1A     NaN
27   15623  1       1A     NaN
28   15624  1       1A     NaN
29   15625  1       1A     NaN

In [100]:
### 'LTFRONT' Aggregate by TAXCLASS 
data_LTFRONT_1=data_LTFRONT_value.groupby(['TAXCLASS'])['LTFRONT'].agg(Min=('min'),Max=('max'),
                                    Mean=('mean'),    
                                    Median=('median'),
                                    Difference= (lambda x:x.mean()-x.median()),
                                       Count=('count')).reset_index()
print(f'Percentage of count less than 5:')
print((data_LTFRONT_1[data_LTFRONT_1['Count']<5].count())/len(data_LTFRONT_1))

Percentage of count less than 5:
TAXCLASS      0.0
Min           0.0
Max           0.0
Mean          0.0
Median        0.0
Difference    0.0
Count         0.0
dtype: float64

In [101]:
data_LTFRONT_1

   TAXCLASS  Min   Max        Mean  Median  Difference   Count
0         1    1  4507   30.938800      25    5.938800  660558
1        1A    1  1120   50.932905      24   26.932905    5753
2        1B    1  9170   53.915753      28   25.915753   24547
3        1C   15   100   27.250825      24    3.250825     303
4        1D   70  2798  338.275862     200  138.275862      29
5         2    1  9742  113.243648      91   22.243648   63879
6        2A    1   345   25.917246      25    0.917246   40566
7        2B   10  1111   27.254835      25    2.254835   13962
8        2C    3   745   29.987290      25    4.987290    4406
9         3    1  8715  135.906790      63   72.906790    3358
10        4    1  9999   93.587471      50   43.587471   84525

In [102]:
### Get a dataframe that count greater than 5 ('B','TAXCLASS')
data_LTFRONT_1_gt5=data_LTFRONT_1[data_LTFRONT_1['Count'] > 5]
data_LTFRONT_1_gt5_col=data_LTFRONT_1_gt5.loc[:,['TAXCLASS','Median']]
data_LTFRONT_1_gt5_col.head(5)

  TAXCLASS  Median
0        1      25
1       1A      24
2       1B      28
3       1C      24
4       1D     200

In [103]:
### Merge data_LTFRONT_1 and merge_LTFRONT_2_nan/merge_LTFRONT_nan_col
merge_LTFRONT_1=pd.merge(merge_LTFRONT_2_nan_col,data_LTFRONT_1_gt5_col,how='left',on=['TAXCLASS'])
merge_LTFRONT_1.drop(columns=['Median_x'],axis=1,inplace=True)
#merge_LTFRONT_1.head(5)
#merge_LTFRONT_nan_col.head(5)

In [104]:
merge_LTFRONT_1.head(5)

   RECORD TAXCLASS  Median_y
0   15621       1A        24
1   15622       1A        24
2   15623       1A        24
3   15624       1A        24
4   15625       1A        24

In [105]:
merge_LTFRONT_value.head(5)

   RECORD  B    ZIP TAXCLASS  LTFRONT
0       9  1  10004        4    203.5
1      10  1  10004        4    203.5
2      11  1  10004        4    203.5
3      12  1  10004        4    203.5
4      13  1  10004        4    203.5

In [106]:
merge_LTFRONT_value.shape

(164349, 5)

In [107]:
merge_LTFRONT_value[merge_LTFRONT_value['LTFRONT']==0].count()

RECORD      0
B           0
ZIP         0
TAXCLASS    0
LTFRONT     0
dtype: int64

In [108]:
#mydata.isnull().sum()

In [109]:
#mydata[mydata['LTFRONT']==0].count()

In [110]:
## Merge everthing together
LTFRONT_col=pd.merge(mydata,merge_LTFRONT_value,how='left',on=['RECORD'])
LTFRONT_col.loc[LTFRONT_col['LTFRONT_x']==0, 'LTFRONT_x'] = LTFRONT_col['LTFRONT_y']
LTFRONT_col.drop(columns=['B_y','ZIP_y','TAXCLASS_y','LTFRONT_y'],axis=1,inplace=True)
#LTFRONT_col.head(5).transpose()

In [111]:
#LTFRONT_col[LTFRONT_col['LTFRONT_x']==0].count()

In [112]:
#LTFRONT_col.isnull().sum()

In [113]:
#LTFRONT_col.head(5).transpose()

In [114]:
LTFRONT_col_2=pd.merge(LTFRONT_col,merge_LTFRONT_2,how='left',on=['RECORD'])
LTFRONT_col_2['LTFRONT_x']=LTFRONT_col_2['LTFRONT_x'].replace(np.nan,0)
LTFRONT_col_2.loc[LTFRONT_col_2['LTFRONT_x']==0, 'LTFRONT_x'] = LTFRONT_col_2['Median']
LTFRONT_col_2.drop(columns=['B','TAXCLASS','Median'],axis=1,inplace=True)

#LTFRONT_col_2.head(5).transpose()

In [115]:
#LTFRONT_col_2[LTFRONT_col_2['LTFRONT_x']==0].count()

In [116]:
#LTFRONT_col_2.isnull().sum()

In [117]:
LTFRONT_col_2['LTFRONT_x']=LTFRONT_col_2['LTFRONT_x'].replace(np.nan,0)

In [118]:
#LTFRONT_col_2[LTFRONT_col_2['LTFRONT_x']==0].count()

In [119]:
LTFRONT_col_final=pd.merge(LTFRONT_col_2,merge_LTFRONT_1,how='left',on=['RECORD'])
LTFRONT_col_final.loc[LTFRONT_col_final['LTFRONT_x']==0, 'LTFRONT_x'] = LTFRONT_col_final['Median_y']
LTFRONT_col_final.drop(columns=['TAXCLASS','Median_y'],axis=1,inplace=True)
LTFRONT_col_final.columns=['RECORD', 'BBLE', 'B', 'BLOCK', 'LOT', 'EASEMENT', 'OWNER', 'BLDGCL',
       'TAXCLASS', 'LTFRONT', 'LTDEPTH', 'EXT', 'STORIES', 'FULLVAL',
       'AVLAND', 'AVTOT', 'EXLAND', 'EXTOT', 'EXCD1', 'STADDR', 'ZIP',
       'EXMPTCL', 'BLDFRONT', 'BLDDEPTH', 'AVLAND2', 'AVTOT2', 'EXLAND2',
       'EXTOT2', 'EXCD2', 'PERIOD', 'YEAR', 'VALTYPE']

In [120]:
LTFRONT_col_final.shape

(1070994, 32)

In [121]:
#LTFRONT_col_final[LTFRONT_col_final['LTFRONT']==0].count()

In [122]:
#LTFRONT_col_final.isnull().sum()

## LTDEPTH

In [37]:
mydata1=df.copy()

In [38]:
### Seperate into 2 dataframe for 'LTDEPTH'
data_LTDEPTH_0=mydata[mydata1['LTDEPTH']==0]
data_LTDEPTH_0_col=data_LTDEPTH_0.loc[:,['RECORD','B','ZIP','TAXCLASS','LTDEPTH']]

data_LTDEPTH_value=mydata[mydata1['LTDEPTH'] != 0]
data_LTDEPTH_value_col=data_LTDEPTH_value.loc[:,['RECORD','B','ZIP','TAXCLASS','LTDEPTH']]
data_LTDEPTH_0_col.shape

(170128, 5)

In [39]:
### df_value -- 'LTDEPTH' Aggregate by 'ZIP' and TAXCLASS 
data_LTDEPTH_3=data_LTDEPTH_value.groupby(['ZIP','TAXCLASS'])['LTDEPTH'].agg(Min=('min'),Max=('max'),
                                    Mean=('mean'),    
                                    Median=('median'),
                                    Difference= (lambda x:x.mean()-x.median()),
                                       Count=('count')).reset_index()
print(f'Percentage of count less than 5:')
print((data_LTDEPTH_3[data_LTDEPTH_3['Count']<5].count())/len(data_LTDEPTH_3))

Percentage of count less than 5:
ZIP           0.310092
TAXCLASS      0.310092
Min           0.310092
Max           0.310092
Mean          0.310092
Median        0.310092
Difference    0.310092
Count         0.310092
dtype: float64

In [40]:
### 'LTDEPTH' Aggregate by B and TAXCLASS 
data_LTDEPTH_2=data_LTDEPTH_value.groupby(['B','TAXCLASS'])['LTDEPTH'].agg(Min=('min'),Max=('max'),
                                    Mean=('mean'),    
                                    Median=('median'),
                                    Difference= (lambda x:x.mean()-x.median()),
                                       Count=('count')).reset_index()
print(f'Percentage of count less than 5:')
print((data_LTDEPTH_2[data_LTDEPTH_2['Count']<5].count())/len(data_LTDEPTH_2))

Percentage of count less than 5:
B             0.078431
TAXCLASS      0.078431
Min           0.078431
Max           0.078431
Mean          0.078431
Median        0.078431
Difference    0.078431
Count         0.078431
dtype: float64

In [41]:
### Get a dataframe that count great than 5 ('ZIP','TAXCLASS')
data_LTDEPTH_3_gt5=data_LTDEPTH_3[data_LTDEPTH_3['Count'] > 5]
data_LTDEPTH_3_gt5_col=data_LTDEPTH_3_gt5.loc[:,['ZIP','TAXCLASS','Median']]
#data_LTDEPTH_3_gt5_col.columns=['ZIP','TAXCLASS','LTDEPTH']
#print(data_LTDEPTH_3_gt5_col)
#print(data_LTDEPTH_3)
data_LTDEPTH_3_gt5_col.head(5)

     ZIP TAXCLASS  Median
0  10001        1    98.0
1  10001       1B    70.0
2  10001        2    98.0
3  10001       2A    85.5
4  10001       2B    98.0

In [42]:
### Merge data_LTDEPTH_3_gt5_col and data_LTDEPTH_0_col
merge_LTDEPTH=pd.merge(data_LTDEPTH_0_col,data_LTDEPTH_3_gt5_col,how='left',on=['ZIP','TAXCLASS'])
merge_LTDEPTH.head(5)

   RECORD  B    ZIP TAXCLASS  LTDEPTH  Median
0       2  1  10004        4        0   207.0
1       9  1  10004        4        0   207.0
2      10  1  10004        4        0   207.0
3      11  1  10004        4        0   207.0
4      12  1  10004        4        0   207.0

In [43]:
### drop LTDEPTH and Change name
merge_LTDEPTH_drop=merge_LTDEPTH.drop(columns=['LTDEPTH'],axis=1)
merge_LTDEPTH_drop.columns=['RECORD','B','ZIP','TAXCLASS','LTDEPTH']
merge_LTDEPTH_drop.shape
#merge_LTDEPTH_drop.head(5)

(170128, 5)

In [44]:
### get the df with values
merge_LTDEPTH_value=merge_LTDEPTH_drop[~merge_LTDEPTH_drop['LTDEPTH'].isnull()]
merge_LTDEPTH_value.head(5)

   RECORD  B    ZIP TAXCLASS  LTDEPTH
0       2  1  10004        4    207.0
1       9  1  10004        4    207.0
2      10  1  10004        4    207.0
3      11  1  10004        4    207.0
4      12  1  10004        4    207.0

In [45]:
### get the dataframe that needs second fillin
merge_LTDEPTH_nan=merge_LTDEPTH_drop[merge_LTDEPTH_drop['LTDEPTH'].isnull()]
merge_LTDEPTH_nan_col=merge_LTDEPTH_nan.loc[:,['RECORD','B','TAXCLASS','LTDEPTH']]
#merge_LLTDEPTH_nan_col
merge_LTDEPTH_nan.shape
#merge_LTDEPTH_nan.head(5)

(4805, 5)

In [46]:
### Get a dataframe that count greater than 5 ('B','TAXCLASS')
data_LTDEPTH_2_gt5=data_LTDEPTH_2[data_LTDEPTH_2['Count'] > 5]
data_LTDEPTH_2_gt5_col=data_LTDEPTH_2_gt5.loc[:,['B','TAXCLASS','Median']]
data_LTDEPTH_2_gt5_col.head(5)

   B TAXCLASS  Median
0  1        1    99.0
2  1       1C   100.0
3  1        2   100.0
4  1       2A    99.0
5  1       2B   100.0

In [47]:
### Merge data_LTDEPTH_2_gt5_col and merge_LTFRONT_nan_col
merge_LTDEPTH_2=pd.merge(merge_LTDEPTH_nan_col,data_LTDEPTH_2_gt5_col,how='left',on=['B','TAXCLASS'])
merge_LTDEPTH_2.drop(columns=['LTDEPTH'],axis=1,inplace=True)
merge_LTDEPTH_2.head(5)
#merge_LTDEPTH_nan_col.head(5)

   RECORD  B TAXCLASS  Median
0     119  1       2C   100.0
1     120  1       2C   100.0
2     127  1        3   145.0
3     686  1        4   100.0
4     687  1        4   100.0

In [48]:
### 3rd time fill in NaN
merge_LTDEPTH_2_nan=merge_LTDEPTH_2[merge_LTDEPTH_2['Median'].isnull()]
merge_LTDEPTH_2_nan_col=merge_LTDEPTH_2_nan.loc[:,['RECORD','TAXCLASS','Median']]

In [49]:
### 'LTDEPTH' Aggregate by TAXCLASS 
data_LTDEPTH_1=data_LTDEPTH_value.groupby(['TAXCLASS'])['LTDEPTH'].agg(Min=('min'),Max=('max'),
                                    Mean=('mean'),    
                                    Median=('median'),
                                    Difference= (lambda x:x.mean()-x.median()),
                                       Count=('count')).reset_index()
print(f'Percentage of count less than 5:')
print((data_LTDEPTH_1[data_LTDEPTH_1['Count']<5].count())/len(data_LTDEPTH_1))

Percentage of count less than 5:
TAXCLASS      0.0
Min           0.0
Max           0.0
Mean          0.0
Median        0.0
Difference    0.0
Count         0.0
dtype: float64

In [50]:
### Get a dataframe that count greater than 5 ('B','TAXCLASS')
data_LTDEPTH_1_gt5=data_LTDEPTH_1[data_LTDEPTH_1['Count'] > 5]
data_LTDEPTH_1_gt5_col=data_LTDEPTH_1_gt5.loc[:,['TAXCLASS','Median']]
data_LTDEPTH_1_gt5_col.head(5)

  TAXCLASS  Median
0        1     100
1       1A      79
2       1B     100
3       1C     100
4       1D     455

In [51]:
### Merge data_LTFRONT_1 and merge_LTFRONT_2_nan/merge_LTFRONT_nan_col
merge_LTDEPTH_1=pd.merge(merge_LTDEPTH_2_nan_col,data_LTDEPTH_1_gt5_col,how='left',on=['TAXCLASS'])
merge_LTDEPTH_1.drop(columns=['Median_x'],axis=1,inplace=True)
#merge_LTDEPTH_1.head(5)
#merge_LTDEPTH_nan_col.head(5)

In [52]:
LTDEPTH_col.columns

NameError: name 'LTDEPTH_col' is not defined

In [53]:
## Merge everthing together
LTDEPTH_col=pd.merge(mydata,merge_LTDEPTH_value,how='left',on=['RECORD'])
LTDEPTH_col.loc[LTDEPTH_col['LTDEPTH_x']==0, 'LTDEPTH_x'] = LTDEPTH_col['LTDEPTH_y']
LTDEPTH_col.drop(columns=['B_y','ZIP_y','TAXCLASS_y','LTDEPTH_y'],axis=1,inplace=True)
#LTDEPTH_col.head(5).transpose()

In [54]:
LTDEPTH_col_2=pd.merge(LTDEPTH_col,merge_LTDEPTH_2,how='left',on=['RECORD'])
LTDEPTH_col_2['LTDEPTH_x']=LTDEPTH_col_2['LTDEPTH_x'].replace(np.nan,0)
LTDEPTH_col_2.loc[LTDEPTH_col_2['LTDEPTH_x']==0, 'LTDEPTH_x'] = LTDEPTH_col_2['Median']
LTDEPTH_col_2.drop(columns=['B','TAXCLASS','Median'],axis=1,inplace=True)

In [55]:
LTDEPTH_col_2['LTDEPTH_x']=LTDEPTH_col_2['LTDEPTH_x'].replace(np.nan,0)

In [56]:
LTDEPTH_col_final=pd.merge(LTDEPTH_col_2,merge_LTDEPTH_1,how='left',on=['RECORD'])
LTDEPTH_col_final.loc[LTDEPTH_col_final['LTDEPTH_x']==0, 'LTDEPTH_x'] = LTDEPTH_col_final['Median_y']
LTDEPTH_col_final.drop(columns=['TAXCLASS','Median_y'],axis=1,inplace=True)
LTDEPTH_col_final.columns=['RECORD', 'BBLE', 'B', 'BLOCK', 'LOT', 'EASEMENT', 'OWNER', 'BLDGCL',
       'TAXCLASS', 'LTFRONT', 'LTDEPTH', 'EXT', 'STORIES', 'FULLVAL',
       'AVLAND', 'AVTOT', 'EXLAND', 'EXTOT', 'EXCD1', 'STADDR', 'ZIP',
       'EXMPTCL', 'BLDFRONT', 'BLDDEPTH', 'AVLAND2', 'AVTOT2', 'EXLAND2',
       'EXTOT2', 'EXCD2', 'PERIOD', 'YEAR', 'VALTYPE']

In [57]:
LTDEPTH_col_final.isnull().sum()

RECORD            0
BBLE              0
B                 0
BLOCK             0
LOT               0
EASEMENT    1066358
OWNER         31745
BLDGCL            0
TAXCLASS          0
LTFRONT           0
LTDEPTH           0
EXT          716689
STORIES       56264
FULLVAL           0
AVLAND            0
AVTOT             0
EXLAND            0
EXTOT             0
EXCD1        432506
STADDR          676
ZIP               0
EXMPTCL     1055415
BLDFRONT          0
BLDDEPTH          0
AVLAND2      788268
AVTOT2       788262
EXLAND2      983545
EXTOT2       940166
EXCD2        978046
PERIOD            0
YEAR              0
VALTYPE           0
dtype: int64

In [58]:
LTDEPTH_col_final[LTDEPTH_col_final['LTDEPTH']==0].count()

RECORD      0
BBLE        0
B           0
BLOCK       0
LOT         0
EASEMENT    0
OWNER       0
BLDGCL      0
TAXCLASS    0
LTFRONT     0
LTDEPTH     0
EXT         0
STORIES     0
FULLVAL     0
AVLAND      0
AVTOT       0
EXLAND      0
EXTOT       0
EXCD1       0
STADDR      0
ZIP         0
EXMPTCL     0
BLDFRONT    0
BLDDEPTH    0
AVLAND2     0
AVTOT2      0
EXLAND2     0
EXTOT2      0
EXCD2       0
PERIOD      0
YEAR        0
VALTYPE     0
dtype: int64

## BLDFRONT

In [60]:
mydata2=df.copy()

In [61]:
data_BLDFRONT_0=mydata[mydata2['BLDFRONT']==0]
data_BLDFRONT_0_col=data_BLDFRONT_0.loc[:,['RECORD','B','ZIP','TAXCLASS','BLDFRONT']]

data_BLDFRONT_value=mydata[mydata2['BLDFRONT'] != 0]
data_BLDFRONT_value_col=data_BLDFRONT_value.loc[:,['RECORD','B','ZIP','TAXCLASS','BLDFRONT']]
data_BLDFRONT_0_col.shape

(228815, 5)

In [147]:
data_BLDFRONT_value_col.shape

(842179, 5)

In [8]:
### df_value -- 'BLDFRONT' Aggregate by 'ZIP' and TAXCLASS 
data_BLDFRONT_3=data_BLDFRONT_value.groupby(['ZIP','TAXCLASS'])['BLDFRONT'].agg(Min=('min'),Max=('max'),
                                    Mean=('mean'),    
                                    Median=('median'),
                                    Difference= (lambda x:x.mean()-x.median()),
                                       Count=('count')).reset_index()
print(f'Percentage of count less than 5:')
print((data_BLDFRONT_3[data_BLDFRONT_3['Count']<5].count())/len(data_BLDFRONT_3))
#print(data_LTFRONT_3)

Percentage of count less than 5:
ZIP           0.168111
TAXCLASS      0.168111
Min           0.168111
Max           0.168111
Mean          0.168111
Median        0.168111
Difference    0.168111
Count         0.168111
dtype: float64

In [9]:
### 'BLDFRONT' Aggregate by B and TAXCLASS 
data_BLDFRONT_2=data_BLDFRONT_value.groupby(['B','TAXCLASS'])['BLDFRONT'].agg(Min=('min'),Max=('max'),
                                    Mean=('mean'),    
                                    Median=('median'),
                                    Difference= (lambda x:x.mean()-x.median()),
                                       Count=('count')).reset_index()
print(f'Percentage of count less than 5:')
print((data_BLDFRONT_2[data_BLDFRONT_2['Count']<5].count())/len(data_BLDFRONT_2))

Percentage of count less than 5:
B             0.159091
TAXCLASS      0.159091
Min           0.159091
Max           0.159091
Mean          0.159091
Median        0.159091
Difference    0.159091
Count         0.159091
dtype: float64

In [10]:
data_BLDFRONT_2.head(5)

   B TAXCLASS  Min   Max       Mean  Median  Difference  Count
0  1        1    9   101  19.512834    19.0    0.512834   5922
1  1       1A   20    30  27.500000    30.0   -2.500000      4
2  1       1C   16    29  19.718750    20.0   -0.281250     32
3  1        2    1  7575  96.322942    90.0    6.322942  29609
4  1       2A   10    75  20.467256    20.0    0.467256   3283

In [11]:
### Get a dataframe that count great than 5 ('ZIP','TAXCLASS')
data_BLDFRONT_3_gt5=data_BLDFRONT_3[data_BLDFRONT_3['Count'] > 5]
data_BLDFRONT_3_gt5_col=data_BLDFRONT_3_gt5.loc[:,['ZIP','TAXCLASS','Median']]
#data_LTFRONT_3_gt5_col.columns=['ZIP','TAXCLASS','LTFRONT']
#print(data_LTFRONT_3_gt5_col)
#print(data_LTFRONT_3)
data_BLDFRONT_3_gt5_col.head(5)

     ZIP TAXCLASS  Median
0  10001        1    19.0
1  10001        2    53.0
2  10001       2A    20.0
3  10001       2B    25.0
4  10001       2C    25.0

In [12]:
### Merge data_LTFRONT_3_gt5_col and data_LTFRONT_0_col
merge_BLDFRONT=pd.merge(data_BLDFRONT_0_col,data_BLDFRONT_3_gt5_col,how='left',on=['ZIP','TAXCLASS'])
merge_BLDFRONT.head(5)

   RECORD  B    ZIP TAXCLASS  BLDFRONT  Median
0       1  1  10004        4         0   152.0
1       2  1  10004        4         0   152.0
2       6  1  10004        4         0   152.0
3       9  1  10004        4         0   152.0
4      10  1  10004        4         0   152.0

In [62]:
### drop LTFRONT and Change name
merge_BLDFRONT_drop=merge_BLDFRONT.drop(columns=['BLDFRONT'],axis=1)
merge_BLDFRONT_drop.columns=['RECORD','B','ZIP','TAXCLASS','BLDFRONT']
merge_BLDFRONT_drop.shape
#merge_LTFRONT_drop.head(5)
merge_BLDFRONT_drop

         RECORD  B    ZIP TAXCLASS  BLDFRONT
0             1  1  10004        4     152.0
1             2  1  10004        4     152.0
2             6  1  10004        4     152.0
3             9  1  10004        4     152.0
4            10  1  10004        4     152.0
...         ... ..    ...      ...       ...
228810  1070838  5  10307        4      39.0
228811  1070891  5  10463       1B       NaN
228812  1070899  5  11769        4       NaN
228813  1070913  5  10307        4      39.0
228814  1070980  5  10307       1B       NaN

[228815 rows x 5 columns]

In [14]:
### get the df with values
merge_BLDFRONT_value=merge_BLDFRONT_drop[~merge_BLDFRONT_drop['BLDFRONT'].isnull()]
merge_BLDFRONT_value.head(5)

   RECORD  B    ZIP TAXCLASS  BLDFRONT
0       1  1  10004        4     152.0
1       2  1  10004        4     152.0
2       6  1  10004        4     152.0
3       9  1  10004        4     152.0
4      10  1  10004        4     152.0

In [15]:
### get the dataframe that needs second fillin
merge_BLDFRONT_nan=merge_BLDFRONT_drop[merge_BLDFRONT_drop['BLDFRONT'].isnull()]
merge_BLDFRONT_nan_col=merge_BLDFRONT_nan.loc[:,['RECORD','B','TAXCLASS','BLDFRONT']]
#merge_LTFRONT_nan_col
merge_BLDFRONT_nan.shape
#merge_LTFRONT_nan.head(5)

(35100, 5)

In [16]:
merge_BLDFRONT_nan_col.head(5)

    RECORD  B TAXCLASS  BLDFRONT
68      89  1        3       NaN
70     119  1       2C       NaN
71     120  1       2C       NaN
74     127  1        3       NaN
84     434  1        2       NaN

In [65]:
### Get a dataframe that count greater than 5 ('B','TAXCLASS')
data_BLDFRONT_2_gt5=data_BLDFRONT_2[data_BLDFRONT_2['Count'] > 5]
data_BLDFRONT_2_gt5_col=data_BLDFRONT_2_gt5.loc[:,['B','TAXCLASS','Median']]
data_BLDFRONT_2_gt5_col

    B TAXCLASS  Median
0   1        1    19.0
2   1       1C    20.0
3   1        2    90.0
4   1       2A    20.0
5   1       2B    23.0
6   1       2C    25.0
7   1        4    50.0
8   2        1    20.0
9   2       1A    21.0
11  2       1D    18.0
12  2        2    82.0
13  2       2A    21.0
14  2       2B    25.0
15  2       2C    25.0
16  2        4    50.0
17  3        1    20.0
18  3       1A    23.0
20  3       1C    21.0
21  3        2    53.0
22  3       2A    21.0
23  3       2B    25.0
24  3       2C    25.0
25  3        4    39.0
26  4        1    20.0
27  4       1A    20.0
30  4        2    87.0
31  4       2A    22.0
32  4       2B    25.0
33  4       2C    25.0
35  4        4    45.0
36  5        1    22.0
37  5       1A    20.0
39  5        2    31.0
40  5       2A    34.0
41  5       2B    39.5
42  5       2C    29.5
43  5        4    40.0

In [64]:
### Merge data_LTFRONT_2_gt5_col and merge_LTFRONT_nan_col
merge_BLDFRONT_2=pd.merge(merge_BLDFRONT_nan_col,data_BLDFRONT_2_gt5_col,how='left',on=['B','TAXCLASS'])
merge_BLDFRONT_2.drop(columns=['BLDFRONT'],axis=1,inplace=True)
merge_BLDFRONT_2.head(5)
#merge_LTFRONT_nan_col.head(5)
merge_BLDFRONT_2

        RECORD  B TAXCLASS  Median
0           89  1        3     NaN
1          119  1       2C    25.0
2          120  1       2C    25.0
3          127  1        3     NaN
4          434  1        2    90.0
...        ... ..      ...     ...
35095  1070778  5       1B     NaN
35096  1070800  5        4    40.0
35097  1070891  5       1B     NaN
35098  1070899  5        4    40.0
35099  1070980  5       1B     NaN

[35100 rows x 4 columns]

In [74]:
### 3rd time fill in NaN
merge_BLDFRONT_2_nan=merge_BLDFRONT_2[merge_BLDFRONT_2['Median'].isnull()]
merge_BLDFRONT_2_nan_col=merge_BLDFRONT_2_nan.loc[:,['B','RECORD','TAXCLASS','Median']]

In [75]:
merge_BLDFRONT_2_nan.head(5)

     RECORD  B TAXCLASS  Median
0        89  1        3     NaN
3       127  1        3     NaN
287    7055  1        3     NaN
288    7121  1        3     NaN
289    8406  1        3     NaN

In [76]:
### 'LTFRONT' Aggregate by TAXCLASS 
data_BLDFRONT_1=data_BLDFRONT_value.groupby(['B'])['LTFRONT'].agg(Min=('min'),Max=('max'),
                                    Mean=('mean'),    
                                    Median=('median'),
                                    Difference= (lambda x:x.mean()-x.median()),
                                       Count=('count')).reset_index()
print(f'Percentage of count less than 5:')
print((data_BLDFRONT_1[data_BLDFRONT_1['Count']<5].count())/len(data_BLDFRONT_1))

Percentage of count less than 5:
B             0.0
Min           0.0
Max           0.0
Mean          0.0
Median        0.0
Difference    0.0
Count         0.0
dtype: float64

In [77]:
data_BLDFRONT_1

   B  Min   Max       Mean  Median  Difference   Count
0  1    0  8715  47.054375      25   22.054375   56772
1  2    0  6078  44.451967      25   19.451967   85077
2  3    0  9999  31.140269      21   10.140269  269425
3  4    0  9999  37.969074      29    8.969074  313747
4  5    0  5400  43.677555      40    3.677555  117158

In [78]:
data_BLDFRONT_1_gt5=data_BLDFRONT_1[data_BLDFRONT_1['Count'] > 5]
data_BLDFRONT_1_gt5_col=data_BLDFRONT_1_gt5.loc[:,['B','Median']]
data_BLDFRONT_1_gt5_col.head(5)

   B  Median
0  1      25
1  2      25
2  3      21
3  4      29
4  5      40

In [79]:
merge_BLDFRONT_2_nan_col

       B   RECORD TAXCLASS  Median
0      1       89        3     NaN
3      1      127        3     NaN
287    1     7055        3     NaN
288    1     7121        3     NaN
289    1     8406        3     NaN
...   ..      ...      ...     ...
35093  5  1070679       1B     NaN
35094  5  1070693       1B     NaN
35095  5  1070778       1B     NaN
35097  5  1070891       1B     NaN
35099  5  1070980       1B     NaN

[29478 rows x 4 columns]

In [82]:
### Merge data_LTFRONT_1 and merge_LTFRONT_2_nan/merge_LTFRONT_nan_col
merge_BLDFRONT_1=pd.merge(merge_BLDFRONT_2_nan_col,data_BLDFRONT_1_gt5_col,how='left',on=['B'])
merge_BLDFRONT_1.drop(columns=['Median_x'],axis=1,inplace=True)
#merge_LTFRONT_1.head(5)
#merge_LTFRONT_nan_col.head(5)

In [83]:
merge_BLDFRONT_1.head(5)

   B  RECORD TAXCLASS  Median_y
0  1      89        3        25
1  1     127        3        25
2  1    7055        3        25
3  1    7121        3        25
4  1    8406        3        25

In [84]:
merge_BLDFRONT_value.head(5)

   RECORD  B    ZIP TAXCLASS  BLDFRONT
0       1  1  10004        4     152.0
1       2  1  10004        4     152.0
2       6  1  10004        4     152.0
3       9  1  10004        4     152.0
4      10  1  10004        4     152.0

In [28]:
merge_BLDFRONT_value.shape

(193715, 5)

In [29]:
merge_BLDFRONT_value[merge_BLDFRONT_value['BLDFRONT']==0].count()

RECORD      0
B           0
ZIP         0
TAXCLASS    0
BLDFRONT    0
dtype: int64

In [85]:
## Merge everthing together
BLDFRONT_col=pd.merge(mydata,merge_BLDFRONT_value,how='left',on=['RECORD'])
BLDFRONT_col.loc[BLDFRONT_col['BLDFRONT_x']==0, 'BLDFRONT_x'] = BLDFRONT_col['BLDFRONT_y']
BLDFRONT_col.drop(columns=['B_y','ZIP_y','TAXCLASS_y','BLDFRONT_y'],axis=1,inplace=True)
#LTFRONT_col.head(5).transpose()

In [86]:
BLDFRONT_col

,RECORD,BBLE,B_x,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS_x,LTFRONT,...,BLDFRONT_x,BLDDEPTH,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE
0,1,1000010101,1,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,500,...,152.0,0,3775500.0,8613000.0,3775500.0,8613000.0,NaN,FINAL,2010/11,AC-TR
1,2,1000010201,1,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,27,...,152.0,0,11111400.0,80690400.0,11111400.0,80690400.0,NaN,FINAL,2010/11,AC-TR
2,3,1000020001,1,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,709,...,709.0,564,32321790.0,40179510.0,32321790.0,40179510.0,NaN,FINAL,2010/11,AC-TR
3,4,1000020023,1,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,793,...,85.0,551,13644000.0,15750000.0,13644000.0,15750000.0,NaN,FINAL,2010/11,AC-TR
4,5,1000030001,1,3,1,NaN,PARKS AND RECREATION,Q1,4,323,...,89.0,57,106348680.0,107758350.0,106348680.0,107758350.0,NaN,FINAL,2010/11,AC-TR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070989,1070990,5080500083,5,8050,83,NaN,"TOBIN, GALE",A1,1,60,...,30.0,26,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR
1070990,1070991,5080500086,5,8050,86,NaN,SHERRI MILINAZZO,A1,1,62,...,32.0,26,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR
1070991,1070992,5080500089,5,8050,89,NaN,JOHN GERVASI,A1,1,53,...,24.0,32,NaN,NaN,NaN,NaN,1017.0,FINAL,2010/11,AC-TR
1070992,1070993,5080500092,5,8050,92,NaN,RITA M MOOG,A1,1,52,...,32.0,21,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR
1070993,1070994,5080500094,5,8050,94,NaN,EDWARD DONOHUE,A1,1,50,...,30.0,24,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR

In [87]:
BLDFRONT_col_2=pd.merge(BLDFRONT_col,merge_BLDFRONT_2,how='left',on=['RECORD'])
BLDFRONT_col_2['BLDFRONT_x']=BLDFRONT_col_2['BLDFRONT_x'].replace(np.nan,0)
BLDFRONT_col_2.loc[BLDFRONT_col_2['BLDFRONT_x']==0, 'BLDFRONT_x'] = BLDFRONT_col_2['Median']
BLDFRONT_col_2.drop(columns=['B','TAXCLASS','Median'],axis=1,inplace=True)

#LTFRONT_col_2.head(5).transpose()

In [88]:
BLDFRONT_col_2

,RECORD,BBLE,B_x,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS_x,LTFRONT,...,BLDFRONT_x,BLDDEPTH,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE
0,1,1000010101,1,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,500,...,152.0,0,3775500.0,8613000.0,3775500.0,8613000.0,NaN,FINAL,2010/11,AC-TR
1,2,1000010201,1,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,27,...,152.0,0,11111400.0,80690400.0,11111400.0,80690400.0,NaN,FINAL,2010/11,AC-TR
2,3,1000020001,1,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,709,...,709.0,564,32321790.0,40179510.0,32321790.0,40179510.0,NaN,FINAL,2010/11,AC-TR
3,4,1000020023,1,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,793,...,85.0,551,13644000.0,15750000.0,13644000.0,15750000.0,NaN,FINAL,2010/11,AC-TR
4,5,1000030001,1,3,1,NaN,PARKS AND RECREATION,Q1,4,323,...,89.0,57,106348680.0,107758350.0,106348680.0,107758350.0,NaN,FINAL,2010/11,AC-TR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070989,1070990,5080500083,5,8050,83,NaN,"TOBIN, GALE",A1,1,60,...,30.0,26,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR
1070990,1070991,5080500086,5,8050,86,NaN,SHERRI MILINAZZO,A1,1,62,...,32.0,26,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR
1070991,1070992,5080500089,5,8050,89,NaN,JOHN GERVASI,A1,1,53,...,24.0,32,NaN,NaN,NaN,NaN,1017.0,FINAL,2010/11,AC-TR
1070992,1070993,5080500092,5,8050,92,NaN,RITA M MOOG,A1,1,52,...,32.0,21,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR
1070993,1070994,5080500094,5,8050,94,NaN,EDWARD DONOHUE,A1,1,50,...,30.0,24,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR

In [89]:
BLDFRONT_col_2['BLDFRONT_x']=BLDFRONT_col_2['BLDFRONT_x'].replace(np.nan,0)

In [90]:
BLDFRONT_col_final=pd.merge(BLDFRONT_col_2,merge_BLDFRONT_1,how='left',on=['RECORD'])

In [92]:
pd.set_option('display.max_columns', 500)
BLDFRONT_col_final

,RECORD,BBLE,B_x,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS_x,LTFRONT,LTDEPTH,EXT,STORIES,FULLVAL,AVLAND,AVTOT,EXLAND,EXTOT,EXCD1,STADDR,ZIP_x,EXMPTCL,BLDFRONT_x,BLDDEPTH,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE,B,TAXCLASS,Median_y
0,1,1000010101,1,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,500,1046,NaN,NaN,21400000.0,4225500.0,9630000.0,4225500.0,9630000.0,4600.0,1 LIBERTY ISLAND,10004,X3,152.0,0,3775500.0,8613000.0,3775500.0,8613000.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN
1,2,1000010201,1,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,27,0,NaN,NaN,193800000.0,14310000.0,87210000.0,14310000.0,87210000.0,4600.0,1 ELLIS ISLAND,10004,X3,152.0,0,11111400.0,80690400.0,11111400.0,80690400.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN
2,3,1000020001,1,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,709,564,E,3.0,104686000.0,39008700.0,47108700.0,39008700.0,47108700.0,2191.0,MARGINAL STREET,10004,X1,709.0,564,32321790.0,40179510.0,32321790.0,40179510.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN
3,4,1000020023,1,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,793,551,NaN,2.0,39200000.0,15255000.0,17640000.0,15255000.0,17640000.0,2191.0,PIER 6,10004,X1,85.0,551,13644000.0,15750000.0,13644000.0,15750000.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN
4,5,1000030001,1,3,1,NaN,PARKS AND RECREATION,Q1,4,323,1260,NaN,1.0,272300000.0,121050000.0,122535000.0,121050000.0,122535000.0,2231.0,BATTERY PARK,10004,X1,89.0,57,106348680.0,107758350.0,106348680.0,107758350.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070989,1070990,5080500083,5,8050,83,NaN,"TOBIN, GALE",A1,1,60,120,NaN,2.5,438000.0,14536.0,23322.0,1620.0,1620.0,1017.0,142 BENTLEY STREET,10307,NaN,30.0,26,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN
1070990,1070991,5080500086,5,8050,86,NaN,SHERRI MILINAZZO,A1,1,62,228,NaN,2.5,544000.0,9303.0,14929.0,1620.0,1620.0,1017.0,146 BENTLEY STREET,10307,NaN,32.0,26,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN
1070991,1070992,5080500089,5,8050,89,NaN,JOHN GERVASI,A1,1,53,273,G,2.0,480000.0,14790.0,22975.0,14728.0,14728.0,1015.0,150 BENTLEY STREET,10307,NaN,24.0,32,NaN,NaN,NaN,NaN,1017.0,FINAL,2010/11,AC-TR,NaN,NaN,NaN
1070992,1070993,5080500092,5,8050,92,NaN,RITA M MOOG,A1,1,52,136,NaN,2.0,543000.0,12388.0,23037.0,1620.0,1620.0,1017.0,156 BENTLEY STREET,10307,NaN,32.0,21,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN
1070993,1070994,5080500094,5,8050,94,NaN,EDWARD DONOHUE,A1,1,50,80,NaN,2.0,473000.0,14061.0,22394.0,1620.0,1620.0,1017.0,162 BENTLEY STREET,10307,NaN,30.0,24,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN

In [93]:

BLDFRONT_col_final.loc[BLDFRONT_col_final['BLDFRONT_x']==0, 'BLDFRONT_x'] = BLDFRONT_col_final['Median_y']
BLDFRONT_col_final.drop(columns=['B','TAXCLASS','Median_y'],axis=1,inplace=True)
BLDFRONT_col_final.columns=['RECORD', 'BBLE', 'B', 'BLOCK', 'LOT', 'EASEMENT', 'OWNER', 'BLDGCL',
       'TAXCLASS', 'LTFRONT', 'LTDEPTH', 'EXT', 'STORIES', 'FULLVAL',
       'AVLAND', 'AVTOT', 'EXLAND', 'EXTOT', 'EXCD1', 'STADDR', 'ZIP',
       'EXMPTCL', 'BLDFRONT', 'BLDDEPTH', 'AVLAND2', 'AVTOT2', 'EXLAND2',
       'EXTOT2', 'EXCD2', 'PERIOD', 'YEAR', 'VALTYPE']

In [94]:
BLDFRONT_col_final.shape

(1070994, 32)

In [95]:
BLDFRONT_col_final.describe()

,RECORD,B,BLOCK,LOT,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,AVTOT,EXLAND,EXTOT,EXCD1,ZIP,BLDFRONT,BLDDEPTH,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2
count,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.014730e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,638488.000000,1.070994e+06,1.070994e+06,1.070994e+06,2.827260e+05,2.827320e+05,8.744900e+04,1.308280e+05,92948.000000
mean,5.354975e+05,3.215427e+00,4.757239e+03,3.647221e+02,3.663530e+01,8.886159e+01,5.006918e+00,8.742645e+05,8.506792e+04,2.272382e+05,3.642389e+04,9.118698e+04,1602.014232,1.092923e+04,3.772559e+01,3.992284e+01,2.462357e+05,7.139114e+05,3.512357e+05,6.567683e+05,1364.041679
std,3.091695e+05,1.201197e+00,3.676579e+03,8.532152e+02,7.403284e+01,7.639628e+01,8.365707e+00,1.158243e+07,4.057260e+06,6.877529e+06,3.981576e+06,6.508403e+06,1384.226741,5.824969e+02,4.277037e+01,4.270715e+01,6.178963e+06,1.165253e+07,1.080221e+07,1.607251e+07,1094.705653
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1010.000000,1.000100e+04,1.000000e+00,0.000000e+00,3.000000e+00,3.000000e+00,1.000000e+00,7.000000e+00,1011.000000
25%,2.677492e+05,3.000000e+00,1.555000e+03,2.300000e+01,1.900000e+01,8.000000e+01,2.000000e+00,3.040000e+05,9.180000e+03,1.837400e+04,0.000000e+00,0.000000e+00,1017.000000,1.031400e+04,2.000000e+01,2.600000e+01,5.705000e+03,3.391200e+04,2.090000e+03,2.870000e+03,1017.000000
50%,5.354975e+05,3.000000e+00,4.047000e+03,4.900000e+01,2.500000e+01,1.000000e+02,2.000000e+00,4.470000e+05,1.367800e+04,2.534000e+04,1.620000e+03,1.620000e+03,1017.000000,1.121400e+04,2.200000e+01,3.900000e+01,2.014500e+04,7.996250e+04,3.048000e+03,3.706200e+04,1017.000000
75%,8.032458e+05,4.000000e+00,6.898000e+03,1.430000e+02,4.000000e+01,1.000000e+02,3.000000e+00,6.190000e+05,1.974000e+04,4.543800e+04,1.620000e+03,2.090000e+03,1017.000000,1.136400e+04,3.700000e+01,5.000000e+01,6.264000e+04,2.405510e+05,3.177900e+04,1.068408e+05,1017.000000
max,1.070994e+06,5.000000e+00,1.635000e+04,9.978000e+03,9.999000e+03,9.999000e+03,1.190000e+02,6.150000e+09,2.668500e+09,4.668309e+09,2.668500e+09,4.668309e+09,7170.000000,3.380300e+04,7.575000e+03,9.393000e+03,2.371005e+09,4.501180e+09,2.371005e+09,4.501180e+09,7160.000000

In [97]:
BLDFRONT_col_final.isnull().sum()

RECORD            0
BBLE              0
B                 0
BLOCK             0
LOT               0
EASEMENT    1066358
OWNER         31745
BLDGCL            0
TAXCLASS          0
LTFRONT           0
LTDEPTH           0
EXT          716689
STORIES       56264
FULLVAL           0
AVLAND            0
AVTOT             0
EXLAND            0
EXTOT             0
EXCD1        432506
STADDR          676
ZIP               0
EXMPTCL     1055415
BLDFRONT          0
BLDDEPTH          0
AVLAND2      788268
AVTOT2       788262
EXLAND2      983545
EXTOT2       940166
EXCD2        978046
PERIOD            0
YEAR              0
VALTYPE           0
dtype: int64

## BLDDEPTH

In [98]:
mydata3=df.copy()

In [99]:
### Seperate into 2 dataframe for 'LTDEPTH'
data_BLDDEPTH_0=mydata[mydata3['BLDDEPTH']==0]
data_BLDDEPTH_0_col=data_BLDDEPTH_0.loc[:,['RECORD','B','ZIP','TAXCLASS','BLDDEPTH']]

data_BLDDEPTH_value=mydata[mydata3['BLDDEPTH'] != 0]
data_BLDDEPTH_value_col=data_BLDDEPTH_value.loc[:,['RECORD','B','ZIP','TAXCLASS','BLDDEPTH']]
data_BLDDEPTH_0_col.shape

(228853, 5)

In [100]:
### df_value -- 'LTDEPTH' Aggregate by 'ZIP' and TAXCLASS 
data_BLDDEPTH_3=data_BLDDEPTH_value.groupby(['ZIP','TAXCLASS'])['BLDDEPTH'].agg(Min=('min'),Max=('max'),
                                    Mean=('mean'),    
                                    Median=('median'),
                                    Difference= (lambda x:x.mean()-x.median()),
                                       Count=('count')).reset_index()
print(f'Percentage of count less than 5:')
print((data_BLDDEPTH_3[data_BLDDEPTH_3['Count']<5].count())/len(data_BLDDEPTH_3))

Percentage of count less than 5:
ZIP           0.170415
TAXCLASS      0.170415
Min           0.170415
Max           0.170415
Mean          0.170415
Median        0.170415
Difference    0.170415
Count         0.170415
dtype: float64

In [101]:
### 'LTDEPTH' Aggregate by B and TAXCLASS 
data_BLDDEPTH_2=data_BLDDEPTH_value.groupby(['B','TAXCLASS'])['LTDEPTH'].agg(Min=('min'),Max=('max'),
                                    Mean=('mean'),    
                                    Median=('median'),
                                    Difference= (lambda x:x.mean()-x.median()),
                                       Count=('count')).reset_index()
print(f'Percentage of count less than 5:')
print((data_BLDDEPTH_2[data_BLDDEPTH_2['Count']<5].count())/len(data_BLDDEPTH_2))

Percentage of count less than 5:
B             0.177778
TAXCLASS      0.177778
Min           0.177778
Max           0.177778
Mean          0.177778
Median        0.177778
Difference    0.177778
Count         0.177778
dtype: float64

In [102]:
### Get a dataframe that count great than 5 ('ZIP','TAXCLASS')
data_BLDDEPTH_3_gt5=data_BLDDEPTH_3[data_BLDDEPTH_3['Count'] > 5]
data_BLDDEPTH_3_gt5_col=data_BLDDEPTH_3_gt5.loc[:,['ZIP','TAXCLASS','Median']]
#data_LTDEPTH_3_gt5_col.columns=['ZIP','TAXCLASS','LTDEPTH']
#print(data_LTDEPTH_3_gt5_col)
#print(data_LTDEPTH_3)
data_BLDDEPTH_3_gt5_col.head(5)

     ZIP TAXCLASS  Median
0  10001        1    46.0
1  10001        2    98.0
2  10001       2A    59.5
3  10001       2B    64.0
4  10001       2C    92.0

In [103]:
### Merge data_LTDEPTH_3_gt5_col and data_LTDEPTH_0_col
merge_BLDDEPTH=pd.merge(data_BLDDEPTH_0_col,data_BLDDEPTH_3_gt5_col,how='left',on=['ZIP','TAXCLASS'])
merge_BLDDEPTH

         RECORD  B    ZIP TAXCLASS  BLDDEPTH  Median
0             1  1  10004        4         0   207.0
1             2  1  10004        4         0   207.0
2             6  1  10004        4         0   207.0
3             9  1  10004        4         0   207.0
4            10  1  10004        4         0   207.0
...         ... ..    ...      ...       ...     ...
228848  1070838  5  10307        4         0    58.0
228849  1070891  5  10463       1B         0     NaN
228850  1070899  5  11769        4         0     NaN
228851  1070913  5  10307        4         0    58.0
228852  1070980  5  10307       1B         0     NaN

[228853 rows x 6 columns]

In [104]:
### drop BLDDEPTH and Change name
merge_BLDDEPTH_drop=merge_BLDDEPTH.drop(columns=['BLDDEPTH'],axis=1)
merge_BLDDEPTH_drop.columns=['RECORD','B','ZIP','TAXCLASS','BLDDEPTH']
merge_BLDDEPTH_drop.shape
#merge_LTDEPTH_drop.head(5)

(228853, 5)

In [105]:
merge_BLDDEPTH_drop

         RECORD  B    ZIP TAXCLASS  BLDDEPTH
0             1  1  10004        4     207.0
1             2  1  10004        4     207.0
2             6  1  10004        4     207.0
3             9  1  10004        4     207.0
4            10  1  10004        4     207.0
...         ... ..    ...      ...       ...
228848  1070838  5  10307        4      58.0
228849  1070891  5  10463       1B       NaN
228850  1070899  5  11769        4       NaN
228851  1070913  5  10307        4      58.0
228852  1070980  5  10307       1B       NaN

[228853 rows x 5 columns]

In [106]:
### get the df with values
merge_BLDDEPTH_value=merge_BLDDEPTH_drop[~merge_BLDDEPTH_drop['BLDDEPTH'].isnull()]
merge_BLDDEPTH_value

         RECORD  B    ZIP TAXCLASS  BLDDEPTH
0             1  1  10004        4     207.0
1             2  1  10004        4     207.0
2             6  1  10004        4     207.0
3             9  1  10004        4     207.0
4            10  1  10004        4     207.0
...         ... ..    ...      ...       ...
228823  1070321  5  10307        4      58.0
228842  1070668  5  10307        4      58.0
228847  1070836  5  10307        4      58.0
228848  1070838  5  10307        4      58.0
228851  1070913  5  10307        4      58.0

[193701 rows x 5 columns]

In [150]:
merge_BLDDEPTH_value.loc[merge_BLDDEPTH_value["RECORD"]==251789,]

Empty DataFrame
Columns: [RECORD, B, ZIP, TAXCLASS, BLDDEPTH]
Index: []

In [151]:
merge_BLDDEPTH_nan.loc[merge_BLDDEPTH_nan["RECORD"]==251789,]

        RECORD  B    ZIP TAXCLASS  BLDDEPTH
111228  251789  2  10471       1A       NaN

In [107]:
### get the dataframe that needs second fillin
merge_BLDDEPTH_nan=merge_BLDDEPTH_drop[merge_BLDDEPTH_drop['BLDDEPTH'].isnull()]
merge_BLDDEPTH_nan_col=merge_BLDDEPTH_nan.loc[:,['RECORD','B','TAXCLASS','BLDDEPTH']]
#merge_LLTDEPTH_nan_col
merge_BLDDEPTH_nan.shape
#merge_LTDEPTH_nan.head(5)

(35152, 5)

In [158]:
### Get a dataframe that count greater than 5 ('B','TAXCLASS')
data_BLDDEPTH_2_gt5=data_BLDDEPTH_2[(data_BLDDEPTH_2['Count'] > 5)&(data_BLDDEPTH_2['Median'] != 0)]
data_BLDDEPTH_2_gt5_col=data_BLDDEPTH_2_gt5.loc[:,['B','TAXCLASS','Median']]
data_BLDDEPTH_2_gt5_col

    B TAXCLASS  Median
0   1        1    99.0
2   1       1C    99.0
3   1        2    97.0
4   1       2A    99.0
5   1       2B   100.0
6   1       2C    98.0
7   1        4   100.0
8   2        1   100.0
12  2       1D   449.5
13  2        2   100.0
14  2       2A   100.0
15  2       2B   100.0
16  2       2C    98.0
17  2        4   100.0
18  3        1   100.0
19  3       1A    90.0
21  3       1C   100.0
22  3        2   100.0
23  3       2A   100.0
24  3       2B   100.0
25  3       2C   100.0
26  3        4   100.0
27  4        1   100.0
31  4        2   100.0
32  4       2A   100.0
33  4       2B   100.0
34  4       2C   100.0
36  4        4   100.0
37  5        1   100.0
38  5       1A    41.0
40  5        2    27.0
41  5       2A   100.0
42  5       2B   100.0
43  5       2C    87.5
44  5        4   113.0

In [159]:
### Merge data_LTDEPTH_2_gt5_col and merge_LTFRONT_nan_col
merge_BLDDEPTH_2=pd.merge(merge_BLDDEPTH_nan_col,data_BLDDEPTH_2_gt5_col,how='left',on=['B','TAXCLASS'])
merge_BLDDEPTH_2.drop(columns=['BLDDEPTH'],axis=1,inplace=True)
merge_BLDDEPTH_2.head(5)
#merge_LTDEPTH_nan_col.head(5)

   RECORD  B TAXCLASS  Median
0      89  1        3     NaN
1     119  1       2C    98.0
2     120  1       2C    98.0
3     127  1        3     NaN
4     434  1        2    97.0

In [160]:
merge_BLDDEPTH_2.loc[merge_BLDDEPTH_2['Median']==0,]

Empty DataFrame
Columns: [RECORD, B, TAXCLASS, Median]
Index: []

In [161]:
### 3rd time fill in NaN
merge_BLDDEPTH_2_nan=merge_BLDDEPTH_2[merge_BLDDEPTH_2['Median'].isnull()]
merge_BLDDEPTH_2_nan_col=merge_BLDDEPTH_2_nan.loc[:,['RECORD','B','Median']]

In [162]:
### 'BLDDEPTH' Aggregate by B 
data_BLDDEPTH_1=data_BLDDEPTH_value.groupby(['B'])['BLDDEPTH'].agg(Min=('min'),Max=('max'),
                                    Mean=('mean'),    
                                    Median=('median'),
                                    Difference= (lambda x:x.mean()-x.median()),
                                       Count=('count')).reset_index()
print(f'Percentage of count less than 5:')
print((data_BLDDEPTH_1[data_BLDDEPTH_1['Count']<5].count())/len(data_BLDDEPTH_1))

Percentage of count less than 5:
B             0.0
Min           0.0
Max           0.0
Mean          0.0
Median        0.0
Difference    0.0
Count         0.0
dtype: float64

In [163]:
data_BLDDEPTH_1

   B  Min   Max        Mean  Median  Difference   Count
0  1    1  9393  102.406770      86   16.406770   56779
1  2    1  1300   52.250032      46    6.250032   85069
2  3    1  7360   52.288938      48    4.288938  269411
3  4    1  6308   43.717726      39    4.717726  313724
4  5    1  8500   40.075718      40    0.075718  117158

In [164]:
### Get a dataframe that count greater than 5 ('B','TAXCLASS')
data_BLDDEPTH_1_gt5=data_BLDDEPTH_1[data_BLDDEPTH_1['Count'] > 5]
data_BLDDEPTH_1_gt5_col=data_BLDDEPTH_1_gt5.loc[:,['B','Median']]
data_BLDDEPTH_1_gt5_col.head(5)

   B  Median
0  1      86
1  2      46
2  3      48
3  4      39
4  5      40

In [165]:
### Merge data_LTFRONT_1 and merge_LTFRONT_2_nan/merge_LTFRONT_nan_col
merge_BLDDEPTH_1=pd.merge(merge_BLDDEPTH_2_nan_col,data_BLDDEPTH_1_gt5_col,how='left',on=['B'])
merge_BLDDEPTH_1
#merge_LTDEPTH_1.head(5)
#merge_LTDEPTH_nan_col.head(5)

        RECORD  B  Median_x  Median_y
0           89  1       NaN        86
1          127  1       NaN        86
2         7055  1       NaN        86
3         7121  1       NaN        86
4         8406  1       NaN        86
...        ... ..       ...       ...
30728  1070679  5       NaN        40
30729  1070693  5       NaN        40
30730  1070778  5       NaN        40
30731  1070891  5       NaN        40
30732  1070980  5       NaN        40

[30733 rows x 4 columns]

In [166]:
merge_BLDDEPTH_1.loc[merge_BLDDEPTH_1['RECORD']==251789,]

      RECORD  B  Median_x  Median_y
4583  251789  2       NaN        46

In [167]:
merge_BLDDEPTH_1.drop(columns=['Median_x'],axis=1,inplace=True)

In [168]:
merge_BLDDEPTH_1

        RECORD  B  Median_y
0           89  1        86
1          127  1        86
2         7055  1        86
3         7121  1        86
4         8406  1        86
...        ... ..       ...
30728  1070679  5        40
30729  1070693  5        40
30730  1070778  5        40
30731  1070891  5        40
30732  1070980  5        40

[30733 rows x 3 columns]

In [169]:
## Merge everthing together
BLDDEPTH_col=pd.merge(mydata,merge_BLDDEPTH_value,how='left',on=['RECORD'])
BLDDEPTH_col.loc[BLDDEPTH_col['BLDDEPTH_x']==0, 'BLDDEPTH_x'] = BLDDEPTH_col['BLDDEPTH_y']
#BLDDEPTH_col.drop(columns=['B_y','ZIP_y','TAXCLASS_y','BLDDEPTH_y'],axis=1,inplace=True)
#LTDEPTH_col.head(5).transpose()
BLDDEPTH_col

,RECORD,BBLE,B_x,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS_x,LTFRONT,LTDEPTH,EXT,STORIES,FULLVAL,AVLAND,AVTOT,EXLAND,EXTOT,EXCD1,STADDR,ZIP_x,EXMPTCL,BLDFRONT,BLDDEPTH_x,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE,B_y,ZIP_y,TAXCLASS_y,BLDDEPTH_y
0,1,1000010101,1,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,500,1046,NaN,NaN,21400000.0,4225500.0,9630000.0,4225500.0,9630000.0,4600.0,1 LIBERTY ISLAND,10004,X3,0,207.0,3775500.0,8613000.0,3775500.0,8613000.0,NaN,FINAL,2010/11,AC-TR,1.0,10004.0,4,207.0
1,2,1000010201,1,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,27,0,NaN,NaN,193800000.0,14310000.0,87210000.0,14310000.0,87210000.0,4600.0,1 ELLIS ISLAND,10004,X3,0,207.0,11111400.0,80690400.0,11111400.0,80690400.0,NaN,FINAL,2010/11,AC-TR,1.0,10004.0,4,207.0
2,3,1000020001,1,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,709,564,E,3.0,104686000.0,39008700.0,47108700.0,39008700.0,47108700.0,2191.0,MARGINAL STREET,10004,X1,709,564.0,32321790.0,40179510.0,32321790.0,40179510.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN,NaN
3,4,1000020023,1,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,793,551,NaN,2.0,39200000.0,15255000.0,17640000.0,15255000.0,17640000.0,2191.0,PIER 6,10004,X1,85,551.0,13644000.0,15750000.0,13644000.0,15750000.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN,NaN
4,5,1000030001,1,3,1,NaN,PARKS AND RECREATION,Q1,4,323,1260,NaN,1.0,272300000.0,121050000.0,122535000.0,121050000.0,122535000.0,2231.0,BATTERY PARK,10004,X1,89,57.0,106348680.0,107758350.0,106348680.0,107758350.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070989,1070990,5080500083,5,8050,83,NaN,"TOBIN, GALE",A1,1,60,120,NaN,2.5,438000.0,14536.0,23322.0,1620.0,1620.0,1017.0,142 BENTLEY STREET,10307,NaN,30,26.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN,NaN
1070990,1070991,5080500086,5,8050,86,NaN,SHERRI MILINAZZO,A1,1,62,228,NaN,2.5,544000.0,9303.0,14929.0,1620.0,1620.0,1017.0,146 BENTLEY STREET,10307,NaN,32,26.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN,NaN
1070991,1070992,5080500089,5,8050,89,NaN,JOHN GERVASI,A1,1,53,273,G,2.0,480000.0,14790.0,22975.0,14728.0,14728.0,1015.0,150 BENTLEY STREET,10307,NaN,24,32.0,NaN,NaN,NaN,NaN,1017.0,FINAL,2010/11,AC-TR,NaN,NaN,NaN,NaN
1070992,1070993,5080500092,5,8050,92,NaN,RITA M MOOG,A1,1,52,136,NaN,2.0,543000.0,12388.0,23037.0,1620.0,1620.0,1017.0,156 BENTLEY STREET,10307,NaN,32,21.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN,NaN
1070993,1070994,5080500094,5,8050,94,NaN,EDWARD DONOHUE,A1,1,50,80,NaN,2.0,473000.0,14061.0,22394.0,1620.0,1620.0,1017.0,162 BENTLEY STREET,10307,NaN,30,24.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN,NaN

In [170]:
BLDDEPTH_col.drop(columns=['B_y','ZIP_y','TAXCLASS_y','BLDDEPTH_y'],axis=1,inplace=True)

In [171]:
pd.set_option('display.max_columns', 500)

In [172]:
BLDDEPTH_col_2=pd.merge(BLDDEPTH_col,merge_BLDDEPTH_2,how='left',on=['RECORD'])
BLDDEPTH_col_2['BLDDEPTH_x']=BLDDEPTH_col_2['BLDDEPTH_x'].fillna(0)
BLDDEPTH_col_2.loc[BLDDEPTH_col_2['BLDDEPTH_x']==0, 'BLDDEPTH_x'] = BLDDEPTH_col_2['Median']
BLDDEPTH_col_2

,RECORD,BBLE,B_x,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS_x,LTFRONT,LTDEPTH,EXT,STORIES,FULLVAL,AVLAND,AVTOT,EXLAND,EXTOT,EXCD1,STADDR,ZIP_x,EXMPTCL,BLDFRONT,BLDDEPTH_x,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE,B,TAXCLASS,Median
0,1,1000010101,1,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,500,1046,NaN,NaN,21400000.0,4225500.0,9630000.0,4225500.0,9630000.0,4600.0,1 LIBERTY ISLAND,10004,X3,0,207.0,3775500.0,8613000.0,3775500.0,8613000.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN
1,2,1000010201,1,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,27,0,NaN,NaN,193800000.0,14310000.0,87210000.0,14310000.0,87210000.0,4600.0,1 ELLIS ISLAND,10004,X3,0,207.0,11111400.0,80690400.0,11111400.0,80690400.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN
2,3,1000020001,1,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,709,564,E,3.0,104686000.0,39008700.0,47108700.0,39008700.0,47108700.0,2191.0,MARGINAL STREET,10004,X1,709,564.0,32321790.0,40179510.0,32321790.0,40179510.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN
3,4,1000020023,1,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,793,551,NaN,2.0,39200000.0,15255000.0,17640000.0,15255000.0,17640000.0,2191.0,PIER 6,10004,X1,85,551.0,13644000.0,15750000.0,13644000.0,15750000.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN
4,5,1000030001,1,3,1,NaN,PARKS AND RECREATION,Q1,4,323,1260,NaN,1.0,272300000.0,121050000.0,122535000.0,121050000.0,122535000.0,2231.0,BATTERY PARK,10004,X1,89,57.0,106348680.0,107758350.0,106348680.0,107758350.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070989,1070990,5080500083,5,8050,83,NaN,"TOBIN, GALE",A1,1,60,120,NaN,2.5,438000.0,14536.0,23322.0,1620.0,1620.0,1017.0,142 BENTLEY STREET,10307,NaN,30,26.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN
1070990,1070991,5080500086,5,8050,86,NaN,SHERRI MILINAZZO,A1,1,62,228,NaN,2.5,544000.0,9303.0,14929.0,1620.0,1620.0,1017.0,146 BENTLEY STREET,10307,NaN,32,26.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN
1070991,1070992,5080500089,5,8050,89,NaN,JOHN GERVASI,A1,1,53,273,G,2.0,480000.0,14790.0,22975.0,14728.0,14728.0,1015.0,150 BENTLEY STREET,10307,NaN,24,32.0,NaN,NaN,NaN,NaN,1017.0,FINAL,2010/11,AC-TR,NaN,NaN,NaN
1070992,1070993,5080500092,5,8050,92,NaN,RITA M MOOG,A1,1,52,136,NaN,2.0,543000.0,12388.0,23037.0,1620.0,1620.0,1017.0,156 BENTLEY STREET,10307,NaN,32,21.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN
1070993,1070994,5080500094,5,8050,94,NaN,EDWARD DONOHUE,A1,1,50,80,NaN,2.0,473000.0,14061.0,22394.0,1620.0,1620.0,1017.0,162 BENTLEY STREET,10307,NaN,30,24.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN,NaN

In [173]:
BLDDEPTH_col_2.drop(columns=['B','TAXCLASS','Median'],axis=1,inplace=True)

In [174]:
BLDDEPTH_col_final=pd.merge(BLDDEPTH_col_2,merge_BLDDEPTH_1,how='left',on=['RECORD'])

In [175]:
BLDDEPTH_col_final['BLDDEPTH_x']=BLDDEPTH_col_final['BLDDEPTH_x'].fillna(0)
BLDDEPTH_col_final.loc[BLDDEPTH_col_final['BLDDEPTH_x']==0, 'BLDDEPTH_x'] = BLDDEPTH_col_final['Median_y']
BLDDEPTH_col_final

,RECORD,BBLE,B_x,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS_x,LTFRONT,LTDEPTH,EXT,STORIES,FULLVAL,AVLAND,AVTOT,EXLAND,EXTOT,EXCD1,STADDR,ZIP_x,EXMPTCL,BLDFRONT,BLDDEPTH_x,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE,B,Median_y
0,1,1000010101,1,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,500,1046,NaN,NaN,21400000.0,4225500.0,9630000.0,4225500.0,9630000.0,4600.0,1 LIBERTY ISLAND,10004,X3,0,207.0,3775500.0,8613000.0,3775500.0,8613000.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN
1,2,1000010201,1,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,27,0,NaN,NaN,193800000.0,14310000.0,87210000.0,14310000.0,87210000.0,4600.0,1 ELLIS ISLAND,10004,X3,0,207.0,11111400.0,80690400.0,11111400.0,80690400.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN
2,3,1000020001,1,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,709,564,E,3.0,104686000.0,39008700.0,47108700.0,39008700.0,47108700.0,2191.0,MARGINAL STREET,10004,X1,709,564.0,32321790.0,40179510.0,32321790.0,40179510.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN
3,4,1000020023,1,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,793,551,NaN,2.0,39200000.0,15255000.0,17640000.0,15255000.0,17640000.0,2191.0,PIER 6,10004,X1,85,551.0,13644000.0,15750000.0,13644000.0,15750000.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN
4,5,1000030001,1,3,1,NaN,PARKS AND RECREATION,Q1,4,323,1260,NaN,1.0,272300000.0,121050000.0,122535000.0,121050000.0,122535000.0,2231.0,BATTERY PARK,10004,X1,89,57.0,106348680.0,107758350.0,106348680.0,107758350.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070989,1070990,5080500083,5,8050,83,NaN,"TOBIN, GALE",A1,1,60,120,NaN,2.5,438000.0,14536.0,23322.0,1620.0,1620.0,1017.0,142 BENTLEY STREET,10307,NaN,30,26.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN
1070990,1070991,5080500086,5,8050,86,NaN,SHERRI MILINAZZO,A1,1,62,228,NaN,2.5,544000.0,9303.0,14929.0,1620.0,1620.0,1017.0,146 BENTLEY STREET,10307,NaN,32,26.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN
1070991,1070992,5080500089,5,8050,89,NaN,JOHN GERVASI,A1,1,53,273,G,2.0,480000.0,14790.0,22975.0,14728.0,14728.0,1015.0,150 BENTLEY STREET,10307,NaN,24,32.0,NaN,NaN,NaN,NaN,1017.0,FINAL,2010/11,AC-TR,NaN,NaN
1070992,1070993,5080500092,5,8050,92,NaN,RITA M MOOG,A1,1,52,136,NaN,2.0,543000.0,12388.0,23037.0,1620.0,1620.0,1017.0,156 BENTLEY STREET,10307,NaN,32,21.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN
1070993,1070994,5080500094,5,8050,94,NaN,EDWARD DONOHUE,A1,1,50,80,NaN,2.0,473000.0,14061.0,22394.0,1620.0,1620.0,1017.0,162 BENTLEY STREET,10307,NaN,30,24.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN

In [176]:
BLDDEPTH_col_final

,RECORD,BBLE,B_x,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS_x,LTFRONT,LTDEPTH,EXT,STORIES,FULLVAL,AVLAND,AVTOT,EXLAND,EXTOT,EXCD1,STADDR,ZIP_x,EXMPTCL,BLDFRONT,BLDDEPTH_x,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE,B,Median_y
0,1,1000010101,1,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,500,1046,NaN,NaN,21400000.0,4225500.0,9630000.0,4225500.0,9630000.0,4600.0,1 LIBERTY ISLAND,10004,X3,0,207.0,3775500.0,8613000.0,3775500.0,8613000.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN
1,2,1000010201,1,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,27,0,NaN,NaN,193800000.0,14310000.0,87210000.0,14310000.0,87210000.0,4600.0,1 ELLIS ISLAND,10004,X3,0,207.0,11111400.0,80690400.0,11111400.0,80690400.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN
2,3,1000020001,1,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,709,564,E,3.0,104686000.0,39008700.0,47108700.0,39008700.0,47108700.0,2191.0,MARGINAL STREET,10004,X1,709,564.0,32321790.0,40179510.0,32321790.0,40179510.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN
3,4,1000020023,1,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,793,551,NaN,2.0,39200000.0,15255000.0,17640000.0,15255000.0,17640000.0,2191.0,PIER 6,10004,X1,85,551.0,13644000.0,15750000.0,13644000.0,15750000.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN
4,5,1000030001,1,3,1,NaN,PARKS AND RECREATION,Q1,4,323,1260,NaN,1.0,272300000.0,121050000.0,122535000.0,121050000.0,122535000.0,2231.0,BATTERY PARK,10004,X1,89,57.0,106348680.0,107758350.0,106348680.0,107758350.0,NaN,FINAL,2010/11,AC-TR,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070989,1070990,5080500083,5,8050,83,NaN,"TOBIN, GALE",A1,1,60,120,NaN,2.5,438000.0,14536.0,23322.0,1620.0,1620.0,1017.0,142 BENTLEY STREET,10307,NaN,30,26.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN
1070990,1070991,5080500086,5,8050,86,NaN,SHERRI MILINAZZO,A1,1,62,228,NaN,2.5,544000.0,9303.0,14929.0,1620.0,1620.0,1017.0,146 BENTLEY STREET,10307,NaN,32,26.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN
1070991,1070992,5080500089,5,8050,89,NaN,JOHN GERVASI,A1,1,53,273,G,2.0,480000.0,14790.0,22975.0,14728.0,14728.0,1015.0,150 BENTLEY STREET,10307,NaN,24,32.0,NaN,NaN,NaN,NaN,1017.0,FINAL,2010/11,AC-TR,NaN,NaN
1070992,1070993,5080500092,5,8050,92,NaN,RITA M MOOG,A1,1,52,136,NaN,2.0,543000.0,12388.0,23037.0,1620.0,1620.0,1017.0,156 BENTLEY STREET,10307,NaN,32,21.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN
1070993,1070994,5080500094,5,8050,94,NaN,EDWARD DONOHUE,A1,1,50,80,NaN,2.0,473000.0,14061.0,22394.0,1620.0,1620.0,1017.0,162 BENTLEY STREET,10307,NaN,30,24.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,NaN,NaN

In [177]:
BLDDEPTH_col_final.drop(columns=['B','Median_y'],axis=1,inplace=True)
BLDDEPTH_col_final.columns=['RECORD', 'BBLE', 'B', 'BLOCK', 'LOT', 'EASEMENT', 'OWNER', 'BLDGCL',
       'TAXCLASS', 'LTFRONT', 'LTDEPTH', 'EXT', 'STORIES', 'FULLVAL',
       'AVLAND', 'AVTOT', 'EXLAND', 'EXTOT', 'EXCD1', 'STADDR', 'ZIP',
       'EXMPTCL', 'BLDFRONT', 'BLDDEPTH', 'AVLAND2', 'AVTOT2', 'EXLAND2',
       'EXTOT2', 'EXCD2', 'PERIOD', 'YEAR', 'VALTYPE']

In [178]:
BLDDEPTH_col_final.isnull().sum()

RECORD            0
BBLE              0
B                 0
BLOCK             0
LOT               0
EASEMENT    1066358
OWNER         31745
BLDGCL            0
TAXCLASS          0
LTFRONT           0
LTDEPTH           0
EXT          716689
STORIES       56264
FULLVAL           0
AVLAND            0
AVTOT             0
EXLAND            0
EXTOT             0
EXCD1        432506
STADDR          676
ZIP               0
EXMPTCL     1055415
BLDFRONT          0
BLDDEPTH          0
AVLAND2      788268
AVTOT2       788262
EXLAND2      983545
EXTOT2       940166
EXCD2        978046
PERIOD            0
YEAR              0
VALTYPE           0
dtype: int64

In [179]:
BLDDEPTH_col_final[BLDDEPTH_col_final['BLDDEPTH'].isnull()].index

Int64Index([], dtype='int64')